.row.sidebar-row.corporate-communications
  %aside.sidebar.sidebar-filter.column-2x10-left.column-2x10-extended
    = render 'shared/sidebar', sidebar_label: t('global.filters'), sidebar_options: @sidebar_options, sidebar_name: 'messages_filter', default_value: @selected_category_label, sidebar_type: 'nav'
  .sidebar-row-main-content
    .column-2x10-right.column-2x10-extended
      %section
        %h1= t('global.messages')
        = simple_format t('messages.description')
        -if @sidebar_options.first[2]
          %table.corporate-communications-empty
            %tbody
              %tr
                %td.dataTables_empty= t('errors.no_messages')
        -else
          %table.table-striped.corporate-communications-index
            - @messages.each do |message|
              %tr
                %td
                  %a{href: corporate_communication_path(@filter, message), class: message.attachments.present? ? 'icon-paperclip-before' : nil}
                    %h3= message[:title]
                    %small= fhlb_date_standard_numeric(message[:date_sent])
