.row.sidebar-row.corporate-communications
  %aside.sidebar.sidebar-filter.column-2x10-left.column-2x10-extended
    = form_tag(corporate_communications_url, method: 'GET') do
      = render 'shared/sidebar', sidebar_label: t('global.categories'), sidebar_options: @sidebar_options, sidebar_name: 'messages_filter', default_value: @selected_category_label, sidebar_type: 'nav'
  .sidebar-row-main-content
    .column-2x10-right.column-2x10-extended
      %section
        %h1= t('global.messages')
        .corporate-communication-detail-actions
          .corporate-communication-detail-navigation
            =link_to t('messages.prior'), (@prior_message ? corporate_communication_path(@filter, @prior_message) : '#'), class: "primary-button icon-arrow-left-before #{'active' if @prior_message}"
            =link_to t('messages.next'), (@next_message ? corporate_communication_path(@filter, @next_message) : '#'), class: "primary-button icon-arrow-right-after #{'active' if @next_message}"
        .corporate-communication-detail-wrapper
          .corporate-communication-detail-intro{class: @message.attachments.present? ? 'icon-paperclip-before' : nil }
            %h2= @message[:title]
          .corporate-communication-detail-reset= @message_body.html_safe
          - if @message.attachments.present?
            .corporate-communication-attachments
              %h3= t('global.attachments')
              %ul
                - @message.attachments.each do |attachment|
                  %li= link_to_download_resource(attachment.data.original_filename, attachment_download_path(id: attachment, filename: attachment.data.original_filename), class: 'icon-paperclip-before')