!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", :'http-equiv' => "X-UA-Compatible"}
    %title= 'FHLB Member Portal'
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    .error-page
      %h1= t('errors.500.headline')
      %p= t('errors.500.p1')
      %p= t('errors.500.p2', phone_number: fhlb_formatted_phone_number('4156162610'))
      .logo-container
        .logo= t('welcome.logo')