- deferred ||= false
- table_data ||= {}

-if table_data.empty? && !deferred
  .dashboard-module-recent-activity-no-data= t('dashboard.recent_activity.no_activity')
-else
  %table.table-dashboard-recent-activity
    %tbody
      - table_data.each do |row|
        %tr
          %td
            %div.dashboard-module-content-truncated= row[:description]
            %div.dashboard-module-content-light= row[:event]
          %td
            = fhlb_formated_currency_unit(row[:amount])
            %div.dashboard-module-content-light=row[:transaction_number]
%p= t('dashboard.recent_activity.view_report_html', url: reports_todays_credit_path)