- fixed_rate_row_span = advance_terms.length - 2
- advance_terms.each_with_index do |advance_term, i|
  %tr{class: "#{'quick-advance-table-label-row' if i == 0 || i == 2}"}
    -if i == 0
      %td.quick-advance-table-horz-axes-label{rowspan: 2}
        %span= t('dashboard.quick_advance.table.axes_labels.variable_rate')
    -if i == 2
      %td.quick-advance-table-horz-axes-label{rowspan: fixed_rate_row_span}
        %span= t('dashboard.quick_advance.table.axes_labels.fixed_rate')
    -advance_types.each_with_index do |advance_type, j|
      - advance_rate = rate_data[advance_type][advance_term][:rate].to_f
      - if j == 0
        %td.row-label= t("dashboard.quick_advance.table.axes_labels.#{advance_term}")
      %td.selectable-cell{data: {'advance-type' => advance_type, 'advance-term' => advance_term, 'advance-rate' => fhlb_formatted_number(advance_rate, precision: 2, html: false)}, class: "#{'disabled-cell' if !@quick_advances_active}"}
        = fhlb_formatted_number(advance_rate, precision: 2)
        - date = rate_data[advance_type][advance_term][:maturity_date].to_date
        - interest_day_count = rate_data[advance_type][advance_term][:interest_day_count].to_s.gsub('/', '')
        = render 'shared/tooltip', tooltip_data: {t('dashboard.quick_advance.preview.field_headings.payment_on') => rate_data[advance_type][advance_term][:payment_on], t('dashboard.quick_advance.preview.field_headings.interest_day_count') => t("dashboard.quick_advance.table.#{interest_day_count}"), t('dashboard.quick_advance.preview.field_headings.maturity_date') => date.strftime("%-d-%b-%y")}
