- @page_title = t('dashboard.meta_title')
- @borrowing_capacity_types = [t('dashboard.your_account.table.remaining.standard'), t('dashboard.your_account.table.remaining.agency'), t('dashboard.your_account.table.remaining.aaa'), t('dashboard.your_account.table.remaining.aa')]
.dashboard.row
  .column-3
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.market_overview.title'), classes: 'dashboard-module-market', data_available: !@market_overview.first[:data].blank?} do
      .dashboard-market-graph-toggle
        =link_to(t('dashboard.market_overview.vrc'), '', class: 'active')
      .dashboard-market-graph{data: {:'graph-series' => @market_overview.to_json}}
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.your_account.title'), classes: ['dashboard-module-your-account']} do
      .dashboard-financing-availability
        %h2
          = t('dashboard.your_account.financing_availability.title')
          %span.dashboard-gauge-total= fhlb_formatted_currency_whole(@financing_availability_gauge[:total][:amount])
          .dashboard-gauge
            - @financing_availability_gauge.each do |key, details|
              - if details[:display_percentage] > 0 && key != :total
                .gauge-section{style: "width: #{number_to_percentage(details[:display_percentage], precision: 1)};", class: key == :uncollateralized ? 'financing-availability-gauge-uncollateralized' : 'financing-availability-gauge-collateralized'}
                  .inner-gauge-section
                  = render 'shared/tooltip', tooltip_data: {t("dashboard.your_account.financing_availability.#{key}") => nil, number_to_percentage(details[:percentage], precision: 1) => nil, fhlb_formatted_currency_whole(details[:amount]) => nil}
      - if @borrowing_capacity_gauge
        .dashboard-borrowing-capacity
          %h2
            = t('dashboard.your_account.borrowing_capacity.title')
            %span.dashboard-gauge-total= fhlb_formatted_currency_whole(@borrowing_capacity_gauge[:total][:amount])
          .dashboard-gauge
            - @borrowing_capacity_gauge.each do |key, details|
              - if details[:display_percentage] > 0 && key != :total
                .gauge-section{style: "width: #{number_to_percentage(details[:display_percentage], precision: 1)};", class: key == :mortgages ? 'borrowing-capacity-gauge-standard' : 'borrowing-capacity-gauge-sbc'}
                  .inner-gauge-section
                  = render 'shared/tooltip', tooltip_data: {t("dashboard.your_account.borrowing_capacity.#{key}") => nil, number_to_percentage(details[:percentage], precision: 1) => nil, fhlb_formatted_currency_whole(details[:amount]) => nil}
      .dashboard-account-summary
        %h2= t('dashboard.your_account.account_summary')
        %table
          %tbody
            - @account_overview.each do |sub_table_name, sub_table|
              %tr
                %td{colspan: '3'}
                  %table.sub-table
                    - if sub_table.first.is_a?(Hash) &&  sub_table.first[:title]
                      %thead
                        %tr
                          %th.title{colspan: '3'}= sub_table.first[:title]
                    %tbody
                      - sub_table.each do |row|
                        - next if row.is_a?(Hash)
                        - if @borrowing_capacity_types.include? row[0]
                          %tr{class: "#{'detail'}"}
                            %td.label= row[0]
                            %td.value= fhlb_formated_currency_unit(row[1], '$', row[3] || 0)
                        - else
                          %tr{class: "#{'footnote-row' if row[2]}"}
                            %td.label= row[0]
                            %td.value= fhlb_formated_currency_unit(row[1], '$', row[3] || 0)
                        - if row[2]
                          %tr
                            %td.footnote{colspan: 2}= row[2]
            %tr
              %td.borrowing-capacity-note= t('dashboard.your_account.table.borrowing_capacity_note_html', url: reports_borrowing_capacity_url)
  .column-3
    - if policy(:advance).show?
      - classes = ['dashboard-module-advances']
      - classes << 'dashboard-module-advances-closed' if @quick_advance_status == :closed
      =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.quick_advance.title'), classes: classes} do
        - if @quick_advance_status == :open && @quick_advance_enabled
          = render 'shared/input_field', icon: :dollar, placeholder: t('dashboard.quick_advance.advance_placeholder'), field_data: {'flyout-trigger' => 'active'}, field_name: :amount
          %h2.quick-advance-confirmation-subheading{style: 'display: none;'}= t('dashboard.quick_advance.confirmation.title')
          %h2.quick-advance-preview-subheading{style: 'display: none;'}= t('dashboard.quick_advance.preview.title')
          %h2.quick-advance-capstock-subheading{style: 'display: none;'}= t('dashboard.quick_advance.capitalstock.title')
        %p.quick-advance-desk-closed-message{style: "#{'display: none' if @quick_advance_enabled || @quick_advance_status != :open}"}
          = t('dashboard.quick_advance.advance_desk_unavailable_html', phone_number: service_desk_phone_number)
          = link_to t('dashboard.quick_advance.advances_desk_closed_link'), reports_current_price_indications_path
        %p.quick-advance-desk-closed-message{style: "#{'display: none' if @quick_advance_status != :closed}"}
          = t('dashboard.quick_advance.advances_desk_closed')
          = link_to t('dashboard.quick_advance.advances_desk_closed_link'), reports_current_price_indications_path
        %p.quick-advance-desk-closed-message{style: "#{'display: none' if @quick_advance_status != :no_terms}"}
          = t('dashboard.quick_advance.advances_desk_no_terms')
        - if @quick_advance_status == :open && @quick_advance_message
          .quick-advance-limited-pricing-notice= t('dashboard.quick_advance.limited_pricing')
        - if [:open,:closed].include?(@quick_advance_status)
          %p.dashboard-vrc-overnight-message{data: {'flyout-trigger' => (@quick_advance_status == :open)}}= t('global.standard_vrc_overnight')
          .dashboard-advances-rate{data: {'flyout-trigger' => (@quick_advance_status == :open)}}
            = fhlb_formatted_number(@current_overnight_vrc, precision: 2, html: false)
            %span<> %
        .quick-advance-last-updated-message{class: "#{'show-message' unless @quick_advance_status == :open}"}
          %p= t('dashboard.quick_advance.advance_last_updated', last_updated: @quick_advance_last_updated)
          %p= t('dashboard.quick_advance.hours_of_operation_html', url: '')
        - if @quick_advance_status == :open
          - if @quick_advance_message
            = render 'shared/quick_advance_message', message: @quick_advance_message
          %p.quick-advance-instruction= t('dashboard.quick_advance.advance_instruction')
          .quick-advance-rates
            .quick-advance-rates-body
              .quick-advance-icon-section
                %p.quick-advance-loading-message= t('dashboard.quick_advance.preview.initiate')
                %table
                  %thead
                    %tr
                      %th{colspan: 2}
                      %th
                        .quick-advance-cell-wrapper= t('dashboard.quick_advance.table.axes_labels.standard')
                      %th{colspan: 3}
                        .quick-advance-cell-wrapper= t('dashboard.quick_advance.table.axes_labels.securities_backed')
                    %tr.quick-advance-column-labels
                      %th{colspan: 2}
                        .quick-advance-cell-wrapper= t('dashboard.quick_advance.table.term')
                      %th
                        .quick-advance-cell-wrapper= t('dashboard.quick_advance.table.whole_loan')
                      %th
                        .quick-advance-cell-wrapper= t('dashboard.quick_advance.table.agency')
                      %th
                        .quick-advance-cell-wrapper= t('dashboard.quick_advance.table.aaa')
                      %th
                        .quick-advance-cell-wrapper= t('dashboard.quick_advance.table.aa')
                  %tbody
                    = render 'rates_table', advance_terms: @advance_terms, advance_types: @advance_types, loading: true
          = render layout: 'quick_advance_error', locals: {no_display: true, close: true} do
            %p= t('dashboard.quick_advance.error.advance_unavailable', phone_number: service_desk_phone_number)
          %button.primary-button.initiate-quick-advance= t('dashboard.quick_advance.buttons.preview')
          %small
            %p.rate-advances-footer= t('dashboard.quick_advance.table.footer')
    =render layout: 'dashboard/dashboard_module_deferred', locals: {dashboard_module_locals: {title: t('dashboard.recent_activity.title'), data_available: true, classes: 'dashboard-module-recent-activity', data: {deferred: @recent_activity_job_status_url, 'deferred-load' => @recent_activity_load_url}}} do
      =render 'dashboard/dashboard_recent_activity', table_data: @recent_activity_data, deferred: true
  .column-3
    = render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.contacts.title'), classes: 'dashboard-module-contact'} do
      %ul
        - if @contacts[:rm] && @contacts[:rm][:full_name]
          %li= render 'dashboard/dashboard_contact', email: @contacts[:rm][:email], title: t('dashboard.contacts.type.relationship_manager'), name: @contacts[:rm][:full_name], phone_number: fhlb_formatted_phone_number(@contacts[:rm][:phone_number]), picture_url: image_url(@contacts[:rm][:image_url])
        -if @contacts[:cam] && @contacts[:cam][:full_name]
          %li= render 'dashboard/dashboard_contact', email: @contacts[:cam][:email], title: t('dashboard.contacts.type.collateral_asset_manager'), name: @contacts[:cam][:full_name], phone_number: fhlb_formatted_phone_number(@contacts[:cam][:phone_number]), picture_url: image_url(@contacts[:cam][:image_url])
        %li.member-services-desk= render 'dashboard/dashboard_contact', email: ContactInformationHelper::WEB_SUPPORT_EMAIL, title: t('dashboard.contacts.type.member_services_desk'), phone_number: service_desk_phone_number