- @page_title = t('dashboard.meta_title')
.dashboard.row
  .column-3
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.market_overview.title'), classes: 'dashboard-module-market', data_available: !@market_overview.first[:data].blank?} do
      .dashboard-market-graph-toggle
        =link_to(t('dashboard.market_overview.vrc'), '', class: 'active')
        =link_to(t('global.advances'), '')
      .dashboard-market-graph{data: {:'graph-series' => @market_overview.to_json}}
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.your_account.title'), classes: ['dashboard-module-your-account']} do
      .dashboard-financing-availability
        %h2
          = t('dashboard.your_account.financing_availability.title')
          %span.dashboard-gauge-total= fhlb_formatted_currency_whole(@financing_availability_gauge[:total][:amount])
          .dashboard-gauge
            - @financing_availability_gauge.each do |key, details|
              - if details[:display_percentage] > 0 && key != :total
                .gauge-section{style: "width: #{number_to_percentage(details[:display_percentage], precision: 1)};", class: key == :uncollateralized ? 'financing-availability-gauge-uncollateralized' : 'financing-availability-gauge-collateralized'}
                  .inner-gauge-section
                  = render 'shared/tooltip', tooltip_data: {t("dashboard.your_account.financing_availability.#{key}") => nil, number_to_percentage(details[:percentage], precision: 1) => nil, fhlb_formatted_currency(details[:amount]) => nil}
      - if @borrowing_capacity_gauge
        .dashboard-borrowing-capacity
          %h2
            = t('dashboard.your_account.borrowing_capacity.title')
            %span.dashboard-gauge-total= fhlb_formatted_currency_whole(@borrowing_capacity_gauge[:total][:amount])
          .dashboard-gauge
            - @borrowing_capacity_gauge.each do |key, details|
              - if details[:display_percentage] > 0 && key != :total
                .gauge-section{style: "width: #{number_to_percentage(details[:display_percentage], precision: 1)};", class: key == :mortgages ? 'borrowing-capacity-gauge-standard' : 'borrowing-capacity-gauge-sbc'}
                  .inner-gauge-section
                  = render 'shared/tooltip', tooltip_data: {t("dashboard.your_account.borrowing_capacity.#{key}") => nil, number_to_percentage(details[:percentage], precision: 1) => nil, fhlb_formatted_currency(details[:amount]) => nil}
      .dashboard-anticipated-activity-graph
        %h2= t('dashboard.your_account.projected_sta_balance.title')
        =image_tag('anticipated-activity.png', alt: 'Anticipated Activity Graph')
      .dashboard-account-summary
        %h2= t('dashboard.your_account.account_summary')
        %table
          %tbody
            - @account_overview.each do |sub_table_name, sub_table|
              %tr
                %td{colspan: '3'}
                  %table.sub-table
                    - if sub_table.first.is_a?(Hash) &&  sub_table.first[:title]
                      %thead
                        %tr
                          %th.label{colspan: '3'}= sub_table.first[:title]
                    %tbody
                      - sub_table.each do |row|
                        - next if row.is_a?(Hash)
                        %tr{class: "#{'footnote-row' if row[2]}"}
                          %td.label= row[0]
                          %td.value= fhlb_formated_currency_unit(row[1], '$', row[3] || 0)
                        - if row[2]
                          %tr
                            %td.footnote{colspan: 2}= row[2]
            %tr
              %td.borrowing-capacity-note= t('dashboard.your_account.table.borrowing_capacity_note_html', url: reports_borrowing_capacity_url)
  .column-3
    - if policy(:advance).show? && @quick_advance_enabled
      =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.quick_advance.title'), classes: 'dashboard-module-advances'} do
        - if @quick_advance_status == :open
          = render 'shared/input_field', icon: :dollar, placeholder: t('dashboard.quick_advance.advance_placeholder'), field_data: {'flyout-trigger' => 'active'}, field_name: :amount
          %h2.quick-advance-confirmation-subheading{style: 'display: none;'}= t('dashboard.quick_advance.confirmation.title')
          %h2.quick-advance-preview-subheading{style: 'display: none;'}= t('dashboard.quick_advance.preview.title')
          %h2.quick-advance-capstock-subheading{style: 'display: none;'}= t('dashboard.quick_advance.capitalstock.title')
        %p.quick-advance-desk-closed-message{style: "#{'display: none' if @quick_advance_status != :closed}"}
          = t('dashboard.quick_advance.advances_desk_closed')
          = link_to t('dashboard.quick_advance.advances_desk_closed_link'), '', data: {'flyout-trigger' => 'active'}
        %p.quick-advance-desk-closed-message{style: "#{'display: none' if @quick_advance_status != :no_terms}"}
          = t('dashboard.quick_advance.advances_desk_no_terms')
        - if @quick_advance_status == :open
          %p.dashboard-vrc-overnight-message= t('global.vrc_overnight')
          .dashboard-advances-rate
            = @current_overnight_vrc
            %span<> %
        .quick-advance-last-updated-message{class: "#{'show-message' unless @quick_advance_status == :open}"}
          %p= t('dashboard.quick_advance.advance_last_updated', last_updated: @quick_advance_last_updated)
          %p= t('dashboard.quick_advance.hours_of_operation_html', url: '')
        - if @quick_advance_status == :open
          %p.quick-advance-instruction= t('dashboard.quick_advance.advance_instruction')
          .quick-advance-rates
            .quick-advance-rates-body
              .quick-advance-icon-section
                %p.quick-advance-loading-message= t('dashboard.quick_advance.preview.initiate')
                %table
                  %thead
                    %tr
                      %th{colspan: 2}
                      %th= t('dashboard.quick_advance.table.axes_labels.standard')
                      %th{colspan: 3}= t('dashboard.quick_advance.table.axes_labels.securities_backed')
                    %tr.quick-advance-column-labels
                      %th{colspan: 2}= t('dashboard.quick_advance.table.term')
                      %th= t('dashboard.quick_advance.table.whole_loan')
                      %th= t('dashboard.quick_advance.table.agency')
                      %th= t('dashboard.quick_advance.table.aaa')
                      %th= t('dashboard.quick_advance.table.aa')
                  %tbody
          %button.primary-button.initiate-quick-advance= t('dashboard.quick_advance.buttons.preview')
          %small
            %p.rate-advances-footer= t('dashboard.quick_advance.table.footer')
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.previous_activity.title'), link: {name: t('dashboard.actions.more'), path: ''}, data_available: !@previous_activity.blank?} do
      %table.table-dashboard-previous-activity
        %tbody
          - @previous_activity.each do |row|
            %tr
              %td
                = row[0]
                %div.dashboard-module-content-light= fhlb_date_standard_numeric(row[2])
              %td= fhlb_formated_currency_unit(row[1])
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.anticipated_activity.title'), action_type: 'calendar-icon'} do
      %table.table-dashboard-anticipated-activity
        %tbody
          - @anticipated_activity.each_with_index do |row, i|
            %tr
              %td
                = row[0]
                %div.dashboard-module-content-light= fhlb_date_standard_numeric(row[2])
              %td
                - if row[3].blank?
                  =fhlb_formated_currency_unit(row[1], '$', 2)
                - else
                  =fhlb_formated_currency_unit(row[1])
                %div.dashboard-module-content-light= row[3].upcase
      %button.total-button
        %span= t('dashboard.anticipated_activity.total_maturing_today')
        %span= number_to_currency(@total_maturing_today, precision: 0)
  .column-3
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.reports.title'), classes: 'dashboard-module-reports'} do
      = render 'shared/input_field', icon: :calendar, placeholder: t('dashboard.reports.as_of_yesterday'), location: :after
      %button.edit-button #{t('dashboard.actions.edit')}
      %table.table-dashboard-quick-reports
        %tbody
          %tr
            %td
              = render 'shared/check_box', id: t('dashboard.reports.daily')
            %td
              %label= t('dashboard.reports.daily') + ' (2)'
              %div.dashboard-module-content-light #{t('dashboard.reports.advances_detail')}
              %div.dashboard-module-content-light #{t('dashboard.reports.forward_commitments')}
          %tr
            %td
              = render 'shared/check_box', id: t('dashboard.reports.weekly')
            %td
              %label= t('dashboard.reports.weekly') + ' (1)'
          %tr
            %td
              = render 'shared/check_box', id: t('dashboard.reports.monthly')
            %td
              %label= t('dashboard.reports.monthly') + ' (4)'
          %tr
            %td
              = render 'shared/check_box', id: t('dashboard.reports.quarterly')
            %td
              %label= t('dashboard.reports.quarterly') + ' (2)'
          %tr
            %td
              = render 'shared/check_box', id: t('dashboard.reports.annually')
            %td
              %label= t('dashboard.reports.annually')
      =link_to(t('dashboard.reports.view_reports'), reports_path)
      %button.report-button-left #{t('global.view')}
      .split-button
        %button.split-button-left #{t('dashboard.actions.download')}
        %button.split-button-right #{t('global.pdf')}
    = render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.contacts.title'), classes: 'dashboard-module-contact'} do
      %ul
        %li= render 'dashboard/dashboard_contact', email: @contacts[:rm][:email], title: t('dashboard.contacts.type.relationship_manager'), name: @contacts[:rm][:full_name], phone_number: fhlb_formatted_phone_number(@contacts[:rm][:phone_number]), picture_url: image_url(@contacts[:rm][:image_url])
        %li= render 'dashboard/dashboard_contact', email: @contacts[:cam][:email], title: t('dashboard.contacts.type.collateral_asset_manager'), name: @contacts[:cam][:full_name], phone_number: fhlb_formatted_phone_number(@contacts[:cam][:phone_number]), picture_url: image_url(@contacts[:cam][:image_url])
        %li.member-services-desk= render 'dashboard/dashboard_contact', email: 'websupport@fhlbsf.com', title: t('dashboard.contacts.type.member_services_desk'), phone_number: fhlb_formatted_phone_number('8004443452')