- @page_title = t('dashboard.meta_title')
.dashboard.row
  .column-3
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.market_overview.title'), classes: 'dashboard-module-market'} do
      .dashboard-market-graph{data: {:'graph-series' => @market_overview.to_json}}
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.your_account.title'), classes: ['dashboard-module-your-account']} do
      .dashboard-pledged-collateral
        %h2= t('dashboard.your_account.pledged_collateral.title')
        .dashboard-gauge
          - mortgage_percentage = number_to_percentage(@pledged_collateral[:mortgages][:percentage], precision: 1)
          - agency_percentage = number_to_percentage(@pledged_collateral[:agency][:percentage], precision: 1)
          - aaa_percentage = number_to_percentage(@pledged_collateral[:aaa][:percentage], precision: 1)
          - aa_percentage = number_to_percentage(@pledged_collateral[:aa][:percentage], precision: 1)
          .collateral-gauge-mortgages.gauge-section{style: "width: #{mortgage_percentage}"}
            .inner-gauge-section
            = render 'shared/tooltip', :first_value => number_to_human(@pledged_collateral[:mortgages][:absolute], units: 'global.currency'), :second_value => mortgage_percentage
          .collateral-gauge-securities.gauge-section{style: "width: #{agency_percentage}; #{'display: none' unless agency_percentage.to_f > 0}"}
            .inner-gauge-section
            = render 'shared/tooltip', :first_value => number_to_human(@pledged_collateral[:agency][:absolute], units: 'global.currency'), :second_value => agency_percentage
          .collateral-gauge-securities.gauge-section{style: "width: #{aaa_percentage}; #{'display: none' unless aaa_percentage.to_f > 0}"}
            .inner-gauge-section
            = render 'shared/tooltip', :first_value => number_to_human(@pledged_collateral[:aaa][:absolute], units: 'global.currency'), :second_value => aaa_percentage
          .collateral-gauge-securities.gauge-section{style: "width: #{aa_percentage}; #{'display: none' unless aa_percentage.to_f > 0}"}
            .inner-gauge-section
            = render 'shared/tooltip', :first_value => number_to_human(@pledged_collateral[:aa][:absolute], units: 'global.currency'), :second_value => aa_percentage
        .dashboard-gauge-labels
          %span.collateral-gauge-label-mortgages= t('dashboard.your_account.pledged_collateral.mortgages')
          %span.collateral-gauge-label-securities= t('dashboard.your_account.pledged_collateral.securities')
      .dashboard-total-securities
        %h2= t('dashboard.your_account.total_securities.title')
        .dashboard-gauge
          .total-securities-gauge-pledged.gauge-section{style: "width: #{number_to_percentage(@total_securities[:pledged_securities][:percentage], precision: 1)};"}
            .inner-gauge-section
        .dashboard-gauge-labels
          %span.total-securities-label-pledged= t('dashboard.your_account.total_securities.pledged') + ": #{@total_securities[:pledged_securities][:absolute]}"
          %span= t('dashboard.your_account.total_securities.safekept') + ": #{@total_securities[:safekept_securities][:absolute]}"
      .dashboard-effective-borrowing-capacity
        %h2= t('dashboard.your_account.effective_borrowing_capacity.title')
        .dashboard-gauge
          .borrowing-capacity-gauge-used.gauge-section{style: "width: #{number_to_percentage(@effective_borrowing_capacity[:used_capacity][:percentage], precision: 1)};"}
            .inner-gauge-section
          .borrowing-capacity-gauge-threshold{style: "left: #{@effective_borrowing_capacity[:threshold_capacity]}%"}
            = render 'shared/tooltip', :first_value => "#{@effective_borrowing_capacity[:threshold_capacity]}%"
        .dashboard-gauge-labels
          %span.borrowing-capacity-label-used= t('dashboard.your_account.effective_borrowing_capacity.used') + ": #{number_to_human(@effective_borrowing_capacity[:used_capacity][:absolute], units: 'global.currency')}"
          %span= t('dashboard.your_account.effective_borrowing_capacity.unused') + ": #{number_to_human(@effective_borrowing_capacity[:unused_capacity][:absolute], units: 'global.currency')}"
      .dashboard-anticipated-activity-graph
        %h2= t('dashboard.your_account.anticipated_activity.title')
        =image_tag('anticipated-activity.png', alt: 'Anticipated Activity Graph')
      %table.dashboard-account-breakdown-table
        %tbody
          - @account_overview.each do |row|
            %tr
              %td.label #{row[0]}
              %td.currency $
              %td.value #{number_with_delimiter(row[1], precision: 0)}
          - @sub_tables.each do |sub_table_name, sub_table|
            %tr
              %td{colspan: '3'}
                %table.sub-table
                  %thead
                    %tr
                      %th.label{colspan: '3'}= t("dashboard.your_account.table.#{sub_table_name}.title") #note that the key names in our locale/en.yml file must match the key names in the @sub_tables hash
                  %tbody
                    - sub_table.each do |row|
                      %tr
                        %td.label #{row[0]}
                        %td.currency $
                        %td.value #{number_with_delimiter(row[1], precision: 0)}
  .column-3
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.quick_advance.title'), classes: 'dashboard-module-advances'} do
      = render 'shared/input_field', icon: :dollar, placeholder: t('dashboard.quick_advance.advance_placeholder')
      %p= t('global.vrc_overnight')
      .dashboard-advances-rate
        0.14
        %span<> %
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.previous_activity.title'), action_type: 'more-button'} do
      %table.table-striped
        %tbody
          - @previous_activity.each_with_index do |row, i|
            %tr
              %td
                #{row[0]}
                %div.dashboard-module-content-light #{row[2].strftime('%^b %d %Y')}
              - if i == 0
                %td #{number_to_currency(row[1], precision: 0)}
              - else
                %td #{number_with_delimiter(row[1], precision: 0)}
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.anticipated_activity.title'), action_type: 'calendar-icon'} do
      %table.table-striped
        %tbody
          - @anticipated_activity.each_with_index do |row, i|
            - if row[1].nil?
              - sgn = t('global.na')
            - elsif row[1] > 0
              - sgn = '+'
            - else
              - sgn = ''
            %tr
              %td
                #{row[0]}
                %div.dashboard-module-content-light #{row[2].strftime('%^b %d %Y')}
              - if i == 0
                %td
                  #{sgn}#{number_to_currency(row[1], precision: 0)}
                  %div.dashboard-module-content-light #{row[3].upcase}
              - else
                %td
                  #{sgn}#{number_with_delimiter(row[1], precision: 0)}
                  %div.dashboard-module-content-light #{row[3].upcase}
  .column-3
    =render layout: 'dashboard/dashboard_module', locals: {title: 'Example Module 4', action_type: 'edit-button'} do
      %p This is content that should be yielded inside the dashboard module.
      %p This will give us flexibility to put whatever we want inside.
    = render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.contacts.title'), classes: 'dashboard-module-contact'} do
      %ul
        %li= render 'dashboard/dashboard_contact', email: 'user@example.com', title: t('dashboard.contacts.type.nonstandard_advance'), name: 'Bob – RM', phone_number: '415–555–7283'
        %li= render 'dashboard/dashboard_contact', email: 'otheruser@example.com', title: t('dashboard.contacts.type.general'), name: 'Teresa – FHLB Desk', phone_number: '415–555–7283'
      = render 'shared/input_field', icon: :magnify, placeholder: t('dashboard.contacts.search_placeholder')