- @page_title = t('dashboard.meta_title')
- @borrowing_capacity_types = [t('dashboard.your_account.table.remaining.standard'), t('dashboard.your_account.table.remaining.agency'), t('dashboard.your_account.table.remaining.aaa'), t('dashboard.your_account.table.remaining.aa')]
.dashboard.row
  .column-3
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.market_overview.title'), classes: 'dashboard-module-market', data_available: !@market_overview.first[:data].blank?} do
      .dashboard-market-graph-toggle
        =link_to(t('dashboard.market_overview.vrc'), '', class: 'active')
      .dashboard-market-graph{data: {:'graph-series' => @market_overview.to_json}}
    =render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.your_account.account_summary'), classes: ['dashboard-module-your-account']} do
      .dashboard-financing-availability
        %h2
          = t('dashboard.your_account.financing_availability.title')
          %span.dashboard-gauge-total= fhlb_formatted_currency_whole(@financing_availability_gauge[:total][:amount])
          .dashboard-gauge
            - @financing_availability_gauge.each do |key, details|
              - if details[:display_percentage] > 0 && key != :total
                .gauge-section{style: "width: #{number_to_percentage(details[:display_percentage], precision: 1)};", class: key == :uncollateralized ? 'financing-availability-gauge-uncollateralized' : 'financing-availability-gauge-collateralized'}
                  .inner-gauge-section
                  = render 'shared/tooltip', tooltip_data: {t("dashboard.your_account.financing_availability.#{key}") => nil, number_to_percentage(details[:percentage], precision: 1) => nil, fhlb_formatted_currency_whole(details[:amount]) => nil}
      - if @account_overview_job_status_url
        = render 'dashboard/dashboard_module_content_deferred', job_status_url: @account_overview_job_status_url, load_url: @account_overview_load_url
      - else
        = render 'dashboard/account_overview'
  .column-3
    - if policy(:advance).show?
      - classes = ['dashboard-module-advances']
      - classes << 'dashboard-module-advances-closed' if @etransact_status == :closed
      =render layout: 'dashboard/dashboard_module', locals: {title: t('advances.add_advance.titles.add'), classes: classes} do
        = form_for(:advance_request, as: :advance_request, url: advances_select_rate_path, html: {method: :get, class: 'dashboard-module-add-advance-form'}) do |f|
          = f.hidden_field(:type, value: 'whole')
          = f.hidden_field(:term, value: 'overnight')
          = render layout: 'shared/etransact_status_message', locals: {etransact_status: @etransact_status} do
            -# Rendered when the status is :open
            = render 'shared/input_field', icon: :dollar, placeholder: t('dashboard.quick_advance.advance_placeholder'), field_name: 'advance_request[amount]'
            .etransact-status-message.etransact-status-message-closed
              = t('dashboard.quick_advance.advances_desk_closed')
              = link_to t('dashboard.quick_advance.advances_desk_closed_link'), reports_current_price_indications_path
          -# Limited Pricing Message always rendered if present, regardless of etransact_status
          - if @limited_pricing_message
            = link_to(t('dashboard.quick_advance.limited_pricing'), advances_select_rate_path, class: 'dashboard-module-limited-pricing-notice')
          -# Show Overnight VRC rate if desk is :open or :closed
          - if [:open,:closed].include?(@etransact_status)
            %p.dashboard-vrc-overnight-message= t('global.standard_vrc_overnight')
            .dashboard-advances-rate{class: @current_overnight_vrc ? nil : 'dashboard-element-loading'}
              = @current_overnight_vrc
              %span<> %
          -# Include form action and link to Add Advance if etransact_status is :open
          - if @etransact_status == :open
            = f.submit({class: ["primary-button"], value: t('global.enter')})
            = link_to(t('advances.actions.view'), advances_select_rate_path, class: 'dashboard-module-add-advance-link')
    - if feature_enabled?('recent-credit-activity')
      =render layout: 'dashboard/dashboard_module_deferred', locals: {job_status_url: @recent_activity_job_status_url, load_url: @recent_activity_load_url, dashboard_module_locals: {title: t('dashboard.recent_activity.title'), data_available: true, classes: 'dashboard-module-recent-activity'}} do
        =render 'dashboard/dashboard_recent_activity', table_data: @recent_activity_data, deferred: true
  .column-3
    - if @quick_reports.present?
      = render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.quick_reports.title'), classes: 'dashboard-module-quick-reports'} do
        %p= t('dashboard.quick_reports.description')
        %ul
          - @quick_reports.each do |report_name, details|
            %li
              - if details[:url]
                = link_to(details[:title], details[:url])
              - else
                = details[:title]
        %small= t('dashboard.quick_reports.all_reports_html', url: reports_path)
    = render layout: 'dashboard/dashboard_module', locals: {title: t('dashboard.contacts.title'), classes: 'dashboard-module-contact'} do
      %ul
        - if @contacts[:rm] && @contacts[:rm][:full_name]
          %li= render 'dashboard/dashboard_contact', email: @contacts[:rm][:email], title: t('dashboard.contacts.type.relationship_manager'), name: @contacts[:rm][:full_name], phone_number: fhlb_formatted_phone_number(@contacts[:rm][:phone_number]), picture_url: image_url(@contacts[:rm][:image_url])
        -if @contacts[:cam] && @contacts[:cam][:full_name]
          %li= render 'dashboard/dashboard_contact', email: @contacts[:cam][:email], title: t('dashboard.contacts.type.collateral_asset_manager'), name: @contacts[:cam][:full_name], phone_number: fhlb_formatted_phone_number(@contacts[:cam][:phone_number]), picture_url: image_url(@contacts[:cam][:image_url])
        %li.member-services-desk= render 'dashboard/dashboard_contact', email: ContactInformationHelper::WEB_SUPPORT_EMAIL, title: t('dashboard.contacts.type.member_services_desk'), phone_number: service_desk_phone_number