.quick-advance-capstock
  .quick-advance-body
    .quick-advance-icon-section.icon-error-before
      %p= t('dashboard.quick_advance.capitalstock.intro')
      %p.quick-advance-loading-message= t('dashboard.quick_advance.preview.initiate')
      = render 'shared/radio_button', id: 'continue_transaction', name: 'capstock_option', checked: true, text: t('dashboard.quick_advance.capitalstock.continue_transaction')
      .quick-advance-summary
        %dl.large_dl
          %dt= t('dashboard.quick_advance.capitalstock.original') +':'
          %dd= fhlb_formatted_currency(@advance_amount, precision: 0)
          %dt= t('dashboard.quick_advance.capitalstock.stock') +':'
          %dd= fhlb_formatted_currency(@current_trade_stock_required, precision: 0)
          %dt= t('dashboard.quick_advance.capitalstock.net') +':'
          %dd= fhlb_formatted_currency(@advance_amount, precision: 0)
        %dl.large_dl
          %dt= t('dashboard.quick_advance.capitalstock.cumulative') +':'
          %dd= fhlb_formatted_currency(@net_stock_required, precision: 0)
        %label.label-radio-no-padding= t('dashboard.quick_advance.capitalstock.debit_sta_html', amount: fhlb_formatted_currency(@net_stock_required, precision: 0))
      = render 'shared/radio_button', id: 'increase_transaction', name: 'capstock_option', checked: false, text: t('dashboard.quick_advance.capitalstock.increase_transaction')
      .quick-advance-summary
        %dl.large_dl
          %dt= t('dashboard.quick_advance.capitalstock.original') +':'
          %dd= fhlb_formatted_currency(@gross_amount, precision: 0)
          %dt= t('dashboard.quick_advance.capitalstock.stock') +':'
          %dd= fhlb_formatted_currency(@gross_current_trade_stock_required, precision: 0)
          %dt= t('dashboard.quick_advance.capitalstock.net') +':'
          %dd= fhlb_formatted_currency(@advance_amount, precision: 0)
        %dl.large_dl
          %dt= t('dashboard.quick_advance.capitalstock.cumulative') +':'
          %dd= fhlb_formatted_currency(@gross_net_stock_required, precision: 0)
        %label.label-radio-no-padding= t('dashboard.quick_advance.capitalstock.debit_sta_html', amount: fhlb_formatted_currency(@gross_net_stock_required, precision: 0))
  %button.secondary-button.quick-advance-capstock-back-button.icon-arrow-left-before= t('dashboard.quick_advance.buttons.back')
  %button.primary-button.confirm-quick-advance-capstock= t('dashboard.quick_advance.buttons.continue')
  %small
    %p.quick-advances-footer= t('dashboard.quick_advance.capitalstock.footer')