- advance_number ||= nil
- stock ||= nil
.quick-advance-preview
  .quick-advance-body
    .quick-advance-icon-section.icon-error-before
      - if @error_message == :pass
        %p= t('dashboard.quick_advance.error.capital_stock_exception')
      -elsif @error_message == :low
        %p= t('dashboard.quick_advance.error.low_exception_html', amount: fhlb_formatted_currency(@error_value, precision: 0))
      -elsif @error_message == :credit
        %p= t('dashboard.quick_advance.error.insufficient_financing_availability_html', amount: fhlb_formatted_currency(@advance_amount, precision: 0))
      -elsif @error_message == :collateral
        %p= t('dashboard.quick_advance.error.insufficient_collateral_html', amount: fhlb_formatted_currency(@advance_amount, precision: 0), collateral_type: @collateral_type)
      -elsif @error_message == :total_daily_limit || @error_message == :high
        %p= t('dashboard.quick_advance.error.advance_unavailable', phone_number: service_desk_phone_number)
      -elsif @error_message == :rate_expired
        %p= t('dashboard.quick_advance.error.rate_expired')
      -else
        %p= t('dashboard.quick_advance.error.advance_unavailable', phone_number: service_desk_phone_number)
      %p.quick-advance-loading-message= t('dashboard.quick_advance.preview.initiate')
    = render 'quick_advance_summary', advance_amount: @advance_amount, advance_description: @advance_description, advance_program: @advance_program, advance_type: @advance_type, advance_rate: @advance_rate, human_interest_day_count: @human_interest_day_count, payment_on: @payment_on, advance_term: @advance_term, funding_date: @funding_date, maturity_date: @maturity_date, stock: @stock
  %button.primary-button.quick-advance-back-button.icon-arrow-left-before.quick-advance-error-button= t('dashboard.quick_advance.buttons.rates')
