- fixed_rate_row_span = @advance_terms.length - 2
- @advance_terms.each_with_index do |advance_term, i|
  %tr{class: "#{'quick-advance-table-label-row' if i == 0 || i == 2}"}
    -if i == 0
      %td.quick-advance-table-horz-axes-label{rowspan: 2}
        .quick-advance-cell-wrapper
          %span= t('dashboard.quick_advance.table.axes_labels.variable_rate')
    -if i == 2
      %td.quick-advance-table-horz-axes-label{rowspan: fixed_rate_row_span}
        .quick-advance-cell-wrapper
          %span= t('dashboard.quick_advance.table.axes_labels.fixed_rate')
    -@advance_types.each_with_index do |advance_type, j|
      - rate_data = @rate_data[advance_type][advance_term]
      - advance_rate = rate_data[:rate].to_f
      - if j == 0 
        %td.row-label
          .quick-advance-cell-wrapper= t("dashboard.quick_advance.table.axes_labels.#{advance_term}")
      %td.quick-advance-rate-cell.selectable-cell{data: {'advance-type' => advance_type, 'advance-term' => advance_term, 'advance-rate' => fhlb_formatted_number(advance_rate, precision: 2, html: false)}, class: "#{'disabled-cell' if !@quick_advances_active || rate_data[:disabled]}"}
        .quick-advance-cell-wrapper
          - unless rate_data[:disabled]
            = fhlb_formatted_number(advance_rate, precision: 2)
            = render 'shared/tooltip', tooltip_data: make_quick_advance_tooltip_data( rate_data, advance_term )
          - else
            = t('global.missing_value')
