- advance_number ||= nil
- stock ||= nil
.quick-advance-preview
  .quick-advance-body
    .quick-advance-icon-section.icon-error-before
      - if @error_message == 'pass'
        %p= t('dashboard.quick_advance.error.capital_stock_exception')
      -elsif @error_message == 'low'
        %p= t('dashboard.quick_advance.error.low_exception_html', amount: fhlb_formatted_currency(@min_amount, precision: 0))
      -elsif @error_message == 'CreditError'
        %p= t('dashboard.quick_advance.error.insufficient_financing_availability_html', amount: fhlb_formatted_currency(@advance_amount, precision: 0))
      -elsif @error_message == 'CollateralError'
        %p= t('dashboard.quick_advance.error.insufficient_collateral_html', amount: fhlb_formatted_currency(@advance_amount, precision: 0), collateral_type: @collateral_type)
      -else
        %p= t('dashboard.quick_advance.error.high_exception_html', amount: fhlb_formatted_currency(@max_amount, precision: 0))
      %p.quick-advance-loading-message= t('dashboard.quick_advance.preview.initiate')
    = render 'quick_advance_summary', advance_amount: @advance_amount, advance_description: @advance_description, advance_program: @advance_program, advance_type: @advance_type, advance_rate: @advance_rate, interest_day_count: @interest_day_count, payment_on: @payment_on, advance_term: @advance_term, funding_date: @funding_date, maturity_date: @maturity_date, stock: @stock
  %button.primary-button.quick-advance-back-button.icon-arrow-left-before.quick-advance-error-button= t('dashboard.quick_advance.buttons.rates')
