- button_text = @rate_changed ? t('dashboard.quick_advance.buttons.new_rate') : t('dashboard.quick_advance.buttons.initiate')
.quick-advance-preview
  .quick-advance-body
    .quick-advance-icon-section
      - if @session_elevated
        %p= t('dashboard.quick_advance.preview.elevated_intro')
      - else
        %p= t('dashboard.quick_advance.preview.intro')
      %p= t('dashboard.quick_advance.preview.lock_rate')
      %p.quick-advance-loading-message= t('dashboard.quick_advance.preview.initiate')
    = render 'quick_advance_summary', preview: @preview, advance_amount: @total_amount, advance_description: @advance_description, advance_program: @advance_program, advance_type: @advance_type, advance_rate: @advance_rate, rate_changed: @rate_changed, old_rate: @old_rate, human_interest_day_count: @human_interest_day_count, payment_on: @payment_on, advance_term: @advance_term, funding_date: @funding_date, maturity_date: @maturity_date, stock: @stock
    - unless @session_elevated
      %fieldset.securid-form
        %p= t('dashboard.quick_advance.securid.intro')
        = render 'shared/securid_fields'
        = link_to(t('dashboard.quick_advance.securid.help'), settings_two_factor_path)
  %button.secondary-button.quick-advance-back-button.icon-arrow-left-before= t('dashboard.quick_advance.buttons.back')
  %button.primary-button.confirm-quick-advance{class: ('active' if @session_elevated)}= button_text
  %small
    %p.quick-advances-footer= t('dashboard.quick_advance.preview.footer', bank_name: @current_member_name)