-classes ||= nil
.term-rules{class: classes}
  .row
    %h1= t('admin.term_rules.title')
  .row.tabbed-content
    %nav
      =link_to(t('admin.term_rules.nav.daily_limit'), '#', class: "#{'active-tab' if active_nav == :daily_limit}")
      =link_to(t('admin.term_rules.nav.rate_bands'), '#', class: "#{'active-tab' if active_nav == :rate_bands}")
      =link_to(t('admin.term_rules.nav.rate_report'), '#', class: "#{'active-tab' if active_nav == :rate_report}")
      =link_to(t('admin.term_rules.nav.term_details'), '#', class: "#{'active-tab' if active_nav == :term_details}")
    .tabbed-content-main
      = yield