-classes ||= nil
.term-rules{class: classes}
  .row
    %h1= t('admin.term_rules.title')
  .row.tabbed-content
    %nav
      %span<>
        =link_to(t('admin.term_rules.nav.daily_limit'), active_nav == :daily_limit ? '#' : rules_term_limits_path, class: "#{'active-tab' if active_nav == :daily_limit}")
      %span<>
        =link_to(t('admin.term_rules.nav.rate_bands'), active_nav == :rate_bands ? '#' : rules_rate_bands_path, class: "#{'active-tab' if active_nav == :rate_bands}")
      %span<>
        =link_to(t('admin.term_rules.nav.rate_report'), active_nav == :rate_report ? '#' : rules_rate_report_path, class: "#{'active-tab' if active_nav == :rate_report}")
      %span<>
        =link_to(t('admin.term_rules.nav.term_details'), '#', class: "#{'active-tab' if active_nav == :term_details}")
    .tabbed-content-main
      - if flash[:error]
        .form-error-section
          %p= flash[:error]
      - if flash[:notice]
        .form-success-section
          %p= flash[:notice]
      = yield