%p= t('emails.new_user.greeting', given_name: @resource.given_name)
%p= t('emails.new_user.created_by', manager: @manager.display_name)
%p= t('emails.new_user.username', username: @resource.username)
%p= t('emails.new_user.set_password')
%p= edit_password_url(:user, reset_password_token: @token)
%p= t('emails.new_user.expiration')
%p= t('emails.new_user.login_instructions')
%p= t('emails.new_user.contact', phone: web_support_phone_number)
%p= t('emails.new_user.sign_off_html')