- field_attributes = {autocomplete: 'off'}
= render layout: 'devise/sessions/welcome' do
  = form_for(resource, as: resource_name, url: password_path(resource_name), validate: true, html: { method: :put, class: 'welcome-password-change' }) do |f|
    %fieldset
      %legend= t('forgot_password.update.title').titlecase
      - if flash[:error]
        .form-flash-message{data: {type: 'error'}}
          = flash[:error]
      - resource.errors.full_messages.each do |error|
        .form-flash-message{data: {type: 'error'}}
          = error
      %p= t('forgot_password.update.instructions')
      = f.hidden_field :reset_password_token
      = render 'shared/input_field', form_builder: f, field_name: :password, label: t('forgot_password.update.password_field'), field_type: :password_field, html_attributes: field_attributes.merge(autofocus: true)
      = render 'shared/input_field', form_builder: f, field_name: :password_confirmation, label: t('forgot_password.update.confirm_field'), field_type: :password_field, html_attributes: field_attributes

      .form-actions
        = f.submit t('global.continue'), class: 'primary-button'
