- @html_class = 'white-background'
- @page_title = t('global.page_meta_title', title: t('advances.manage_advances.title'))
.advances.row.report{data: {deferred: @job_status_url, 'deferred-load' => @load_url}}
  .advances-header
    %h1= t('advances.manage_advances.title')
    - if policy(:advance).show?
      .advances-header-buttons
        =link_to(t('advances.add_advance.nav'), advances_select_rate_path, class: 'secondary-button')
  .advances-main-body
    = form_tag(advances_manage_path, method: :get) do
      = render 'shared/filter', filter_class: @advances_data_table[:filter][:name], filters: @advances_data_table[:filter][:data]
      = render 'reports/reports_table', table_class: 'manage-advances-table', table_data: @advances_data_table, sortable: true, column_definitions: [{orderData: [0, 3], orderSequence: [ :desc, :asc ], targets: [0]}, {orderData: [1, 3], orderSequence: [ :desc, :asc ], targets: [1]}, {orderData: [2, 3], orderSequence: [ :desc, :asc ], targets: [2]}, {orderSequence: [:desc], targets: [3]}, {orderData: [4, 3], orderSequence: [ :desc, :asc ], targets: [4]}, {orderData: [5, 3], orderSequence: [ :desc, :asc ], targets: [5]}, {orderData: [6, 3], orderSequence: [ :desc, :asc ], targets: [6]}, {type: :date, targets: [0, 2]}]
      %footer
        = t('advances.manage_advances.footnote_rates_html')
      %footer
        = t('advances.manage_advances.footnote_html', mailto_url: operations_email, phone_number: operations_phone_number)
