- field_attributes = {autocomplete: 'off'}
- title ||= t('settings.change_password.title')
- include_logout ||= false
- button_title ||= t('global.continue')
- no_flash ||= false
- autofocus ||= false
%fieldset
  %legend= title.titlecase
  - unless no_flash
    - if flash[:error]
      .form-flash-message{data: {type: 'error'}}
        = flash[:error]
    - user.errors.full_messages.each do |error|
      .form-flash-message{data: {type: 'error'}}
        = error
  %p= t('settings.change_password.instructions')
  = form_builder.hidden_field :reset_password_token
  = render 'shared/input_field', form_builder: form_builder, field_name: :password, label: t('settings.change_password.password_field'), field_type: :password_field, html_attributes: field_attributes.merge(autofocus: autofocus, validate: {confirmation: false})
  = render 'shared/input_field', form_builder: form_builder, field_name: :password_confirmation, label: t('settings.change_password.confirm_field'), field_type: :password_field, html_attributes: field_attributes

  .form-actions
    - if include_logout
      = link_to(t('nav.primary.logout'), destroy_user_session_url, method: :delete, class: 'secondary-button logout-link')
    - else
      = link_to(t('global.cancel'), dashboard_path, class: 'secondary-button')
    = form_builder.submit button_title, class: 'primary-button'
