= render layout: 'sidebar', locals: {selected: t("settings.password.title")} do
  %section.settings-password
    %h1= t('settings.password.title')
    = simple_format(t('settings.password.instructions', url: web_support_email, phone_number: web_support_phone_number))
    = form_for(current_user, url: settings_password_path, validate: true, html: { method: :put , class: 'settings-group'}) do |f|
      %h2= t('settings.change_password.title')
      - if flash[:notice].present?
        .form-flash-message{data:{type: :success}}= flash[:notice]
      %ol
        %li
          = t('settings.change_password.current_password_step')
          %fieldset
            = render 'shared/input_field', form_builder: f, field_name: :current_password, label: t('settings.change_password.current_password_field'), field_type: :password_field, html_attributes: {autofocus: false, autocomplete: 'off', validate: true}, error: current_user.errors.get(:current_password)
        %li
          = t('settings.change_password.new_password_step')
          = render 'password_form', no_flash: true, include_logout: false, user: current_user, form_builder: f, title: '', button_title: t('settings.change_password.save_button')
          