- setting_types = %w(account password quick_advance quick_report email)
- email_options = %w(reports investor_relations accounting products collateral community_program community_works educational)
.row.sidebar-row
  %aside.sidebar.column-2x10-left
    = render 'shared/sidebar', sidebar_label: t('settings.title'), sidebar_options: @sidebar_options, sidebar_name: 'settings_nav', default_value: t('settings.email.title'), sidebar_type: 'nav'
  .sidebar-row-main-content
    .column-2x10-right
      %section.settings-email
        %h1= t('settings.email.header')
        %table
          - email_options.each_with_index do |email_option, index|
            - checked = cookies["settings_email_options_#{email_option}"] == 'true'
            %tr{class: "settings-email-#{email_option}-row #{'settings-item-required' if index == 1} #{'settings-item-checked' if checked}"}
              %td= t("settings.email.#{email_option}.title")
              - if index == 1
                %td= render 'shared/check_box', id: "settings_email_options_#{email_option}", checked: true, disabled: true
              - else
                %td= render 'shared/check_box', id: "settings_email_options_#{email_option}", checked: checked
              %td
                =t("settings.email.#{email_option}.description_html", url: "#")
                %p.settings-selected-item-message= t('settings.email.selected_item_message', url: '#')
                %p.settings-required-item-message= t('settings.email.required_item_message_html', url: '#')
        %button.primary-button.save-button= t('settings.save')
        %p.settings-save-message
          = t('settings.save_message')
          %span.settings-save-message-timestamp