= render layout: 'sidebar', locals: {selected: t("settings.two_factor.title")} do
  %section.settings-two-factor
    %h1= t('settings.two_factor.title')
    %p= t('settings.two_factor.help_html', phone_number: web_support_phone_number, url: web_support_email)
    .settings-group.settings-new-pin
      %h2= t('settings.two_factor.new_pin.title')
      .form-flash-message{data: {type: 'success'}}= t('settings.two_factor.new_pin.success')
      .form-flash-message{data: {type: 'error'}}= t('settings.two_factor.new_pin.error_html', phone_number: web_support_phone_number, url: web_support_email)
      %p= t('settings.two_factor.new_pin.description_html', phone_number: web_support_phone_number, url: web_support_email)
      .settings-inactive-view
        = link_to(t('settings.two_factor.new_pin.cta'), '#', class: 'settings-group-cta')
      = form_tag settings_two_factor_pin_path, method: :post, remote: true, class: 'settings-active-view' do
        %ol
          %li
            = t('settings.two_factor.new_pin.prompt_current')
            %fieldset.securid-form
              = render 'shared/securid_fields', fields: [:token]
          %li
            = t('settings.two_factor.new_pin.prompt_new_pin')
            %fieldset.securid-form
              = render 'shared/input_field', field_name: 'securid_new_pin', field_type: :password, label: t('settings.two_factor.new_pin.new_pin'), html_attributes: {maxlength: 4}, field_class: 'securid-field-pin'
              = render 'shared/input_field', field_name: 'securid_confirm_pin', field_type: :password, label: t('settings.two_factor.new_pin.confirm_pin'), html_attributes: {maxlength: 4}, field_class: 'securid-field-pin'
              %p.form-error{data: {'error-type' => :invalid_pin}}= t('dashboard.quick_advance.securid.errors.invalid_pin')
              %p.form-error{data: {'error-type' => :pin_mismatch}}= t('settings.two_factor.new_pin.pin_mismatch')
        %input.primary-button{type: 'submit', value: t('settings.two_factor.new_pin.save')}
        %input.secondary-button{type: 'reset', value: t('global.cancel')}
    .settings-group.settings-reset-pin
      %h2= t('settings.two_factor.reset_pin.title')
      .form-flash-message{data: {type: 'success'}}= t('settings.two_factor.reset_pin.success')
      .form-flash-message{data: {type: 'error'}}= t('settings.two_factor.reset_pin.error_html', phone_number: web_support_phone_number, url: web_support_email)
      .settings-inactive-view
        %p= t('settings.two_factor.reset_pin.description_html', url: web_support_email)
        = link_to(t('settings.two_factor.reset_pin.cta'), '#', class: 'settings-group-cta')
      = form_tag settings_two_factor_pin_path, method: :put, remote: true, class: 'settings-active-view' do
        %p= t('settings.two_factor.reset_pin.hint')
        %ol
          %li
            = t('settings.two_factor.reset_pin.prompt_current_pin')
            %fieldset.securid-form
              = render 'shared/securid_fields'
          %li
            = t('settings.two_factor.reset_pin.prompt_new_pin')
            %fieldset.securid-form
              = render 'shared/input_field', field_name: 'securid_new_pin', field_type: :password, label: t('settings.two_factor.reset_pin.new_pin'), html_attributes: {maxlength: 4}, field_class: 'securid-field-pin'
              = render 'shared/input_field', field_name: 'securid_confirm_pin', field_type: :password, label: t('settings.two_factor.reset_pin.confirm_pin'), html_attributes: {maxlength: 4}, field_class: 'securid-field-pin'
              %p.form-error{data: {'error-type' => :invalid_pin}}= t('dashboard.quick_advance.securid.errors.invalid_pin')
              %p.form-error{data: {'error-type' => :pin_mismatch}}= t('settings.two_factor.reset_pin.pin_mismatch')
        %input.primary-button{type: 'submit', value: t('settings.two_factor.reset_pin.save')}
        %input.secondary-button{type: 'reset', value: t('global.cancel')}
    .settings-group.settings-resynchronize-token
      %h2= t('settings.two_factor.resynchronize.title')
      .form-flash-message{data: {type: 'success'}}= t('settings.two_factor.resynchronize.success')
      .form-flash-message{data: {type: 'error'}}= t('settings.two_factor.resynchronize.error_html', phone_number: web_support_phone_number, url: web_support_email)
      .settings-inactive-view
        %p= t('settings.two_factor.resynchronize.description')
        = link_to(t('settings.two_factor.resynchronize.cta'), '#', class: 'settings-group-cta')
      = form_tag settings_two_factor_resynchronize_path, method: :post, remote: true, class: 'settings-active-view' do
        %ol
          %li= t('settings.two_factor.resynchronize.steps.enter_original')
          %li= t('settings.two_factor.resynchronize.steps.wait_next')
          %li= t('settings.two_factor.resynchronize.steps.submit')
          %fieldset.securid-form
            = render 'shared/securid_fields', token_label: t('settings.two_factor.resynchronize.first_token')
          %fieldset.securid-form
            = render 'shared/input_field', field_name: 'securid_next_token', field_type: :text, label: t('settings.two_factor.resynchronize.next_token'), html_attributes: {maxlength: 6}, field_class: 'securid-field-token'
            %p.form-error{data: {'error-type' => :invalid_token}}= t('dashboard.quick_advance.securid.errors.invalid_token')
        %input.primary-button{type: 'submit', value: t('settings.two_factor.resynchronize.save')}
        %input.secondary-button{type: 'reset', value: t('global.cancel')}