= render layout: 'sidebar', locals: {selected: t("settings.two_factor.title")} do
  %section.settings-two-factor
    %h1= t('settings.two_factor.title')
    %p= t('settings.two_factor.description')
    %p= t('settings.two_factor.help_html', phone_number: fhlb_formatted_phone_number('4156162610'), url: 'mailto:websupport@fhlbsf.com')
    .settings-group
      %h2= t('settings.two_factor.reset_pin.title')
      %p= t('settings.two_factor.reset_pin.description')
      = link_to(t('settings.two_factor.reset_pin.cta'), '#')
    .settings-group
      %h2= t('settings.two_factor.resynchronize.title')
      %p= t('settings.two_factor.resynchronize.description')
      = link_to(t('settings.two_factor.resynchronize.cta'), '#')