doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=root + "/tile.png")
    meta(property="og:site_name", content="Lab Zero")
    meta(property="og:url", content=root)
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary")
    meta(property="twitter:site", content="labzero")
    meta(property="twitter:image", content=root + "/tile.png")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Nunito:300,700" rel="stylesheet")
    link(rel="apple-touch-icon", href=root + "/apple-touch-icon.png")
    style#css!= css
  body
    #app!= body
    script.
      window.__INITIAL_STATE__ = !{initialState};
    if trackingId
      script.
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','#{trackingId}','auto');ga('send','pageview')
      script(src="https://www.google-analytics.com/analytics.js", async=true, defer=true)
    script(src="https://maps.googleapis.com/maps/api/js?key=#{apikey}&libraries=places")
    script(src=entry)
