- extended_info ||= false
.form-summary-data
  - if extended_info
    %dl
      %dt= t('global.defined_term', term: t('letters_of_credit.pdf.request_date'))
      %dd= fhlb_datetime_standard_numeric_with_at(@letter_of_credit_request.created_at)
      %dt= t('global.defined_term', term: t('letters_of_credit.pdf.requested_by'))
      %dd= @letter_of_credit_request.created_by
  %dl
    %dt= t('global.defined_term', term: t('letters_of_credit.preview.lc_number'))
    %dd= @letter_of_credit_request.lc_number
  %dl
  %dt= t('global.defined_term', term: t('letters_of_credit.request.beneficiary'))
  %dd= @letter_of_credit_request.beneficiary_name
  -unless @letter_of_credit_request.attention.blank?
    %dt= t('global.defined_term', term: t('letters_of_credit.request.attention'))
    %dd= @letter_of_credit_request.attention
  %dl
    %dt= t('global.defined_term', term: t('letters_of_credit.request.amend.preview.current_amount'))
    %dd= fhlb_formatted_currency_whole(@letter_of_credit_request.amount)
    %dt= t('global.defined_term', term: t('letters_of_credit.request.amend.requested.amended_amount'))
    %dd= @letter_of_credit_request.amended_amount === @letter_of_credit_request.amount ? ' - ' : fhlb_formatted_currency_whole(@letter_of_credit_request.amended_amount)
  %dl
    %dt= t('global.defined_term', term: t('letters_of_credit.request.amend.current.current_expiration'))
    %dd= fhlb_date_standard_numeric(@letter_of_credit_request.expiration_date)

    %dt= t('global.defined_term', term: t('letters_of_credit.request.amend.requested.amended_expiration'))
    %dd= @letter_of_credit_request.amended_expiration_date === @letter_of_credit_request.expiration_date ? ' - ' : fhlb_date_standard_numeric(@letter_of_credit_request.amended_expiration_date)
    %dl
    %dt= t('global.defined_term', term: t('letters_of_credit.request.amend.preview.effective date'))
    %dd= fhlb_date_standard_numeric(@letter_of_credit_request.amendment_date)
  %dl
    %dt= t('global.defined_term', term: t('letters_of_credit.request.amend.fees.fee'))
    %dd= fhlb_formatted_currency_whole(@letter_of_credit_request.amendment_fee.to_i)
    %dt= t('global.defined_term', term: t('letters_of_credit.request.fees.maintenance_fee'))
    %dd= @letter_of_credit_request.maintenance_fee
