- relationship_manager = @contacts[:rm] || {}
.letters-of-credit.letters-of-credit-request
  .row
    .column-9x3-left
      %h1= @title
      - if @error_message
        .form-error-section
          %p= @error_message
      -if !@lc_agreement_flag
        %p= t('letters_of_credit.manage.not_authorized', url: resources_download_path(file: :form_1465)).html_safe
      %p= t('letters_of_credit.request.support')
  .row
    = content_with_sidebar([{name: 'borrowing_capacity', locals: {profile: @profile}}, {name: 'contact', locals: {relationship_manager: relationship_manager, text: t('letters_of_credit.contact')}}]) do
      = form_for(@letter_of_credit_request, url: letters_of_credit_preview_path, html: {class: 'letter-of-credit-preview', data: {'prevent-submit-on-enter' => true}}) do |f|
        = f.hidden_field(:id)
        = f.hidden_field(:issue_date)
        = f.hidden_field(:expiration_date)
        %section.form-fields-section-column-2.form-fields-section-column-2-multirow
          %h2= t('letters_of_credit.request.public_unit')
          .input-field-container-horizontal.beneficiary-name
            %label{for: 'letter_of_credit_beneficiary'}= t('letters_of_credit.request.beneficiary')
            = render 'shared/dropdown', dropdown_name: 'letter_of_credit_request[beneficiary_name]', dropdown_options: @beneficiary_dropdown_options, default_value: @beneficiary_dropdown_default, default_text: @beneficiary_dropdown_default, classes: 'dropdown-beneficiary'
          .input-field-container-horizontal.attention-field
            = render 'shared/input_field', form_builder: f, field_name: :attention, label: t('letters_of_credit.request.attention_html')
          .input-field-container-horizontal.amount-field
            = render 'shared/input_field', form_builder: f, field_name: :amount, label: t('letters_of_credit.request.amount')
          .input-field-container-horizontal
            %span= t('global.issue_date')
            = render 'shared/date_picker', single_date_picker: true, input_field_text: '{replace_date}', from_label: '', linked_input_field: 'letter_of_credit_request[issue_date]', start_date: @letter_of_credit_request.issue_date, min_date: @date_restrictions[:min_date], max_date: @date_restrictions[:issue_max_date], invalid_dates: @date_restrictions[:invalid_dates], disable_weekends: true
          .input-field-container-horizontal
            %span= t('letters_of_credit.manage.expiration_date')
            = render 'shared/date_picker', single_date_picker: true, input_field_text: '{replace_date}', from_label: '', linked_input_field: 'letter_of_credit_request[expiration_date]', start_date: @letter_of_credit_request.expiration_date, min_date: @date_restrictions[:min_date], max_date: @date_restrictions[:expiration_max_date], invalid_dates: @date_restrictions[:invalid_dates], disable_weekends: true
        %section.letters-of-credit-fees-section
          %h2= t('letters_of_credit.request.fees.title')
          %p= t('letters_of_credit.request.fees.explanation')
          .input-field-container-horizontal
            = render 'shared/input_field', form_builder: f, field_name: :issuance_fee, label: t('letters_of_credit.request.fees.issuance_fee'), field_class: ['disabled'], icon: 'dollar', location: 'before', html_attributes: { disabled: true }
          .input-field-container-horizontal
            = render 'shared/input_field', form_builder: f, field_name: :maintenance_fee, label: t('letters_of_credit.request.fees.maintenance_fee'), field_class: ['disabled'], html_attributes: { disabled: true }, value: 'foooooo'
        %p= t('letters_of_credit.request.fees.footnote')
        .letters-of-credit-request-actions
          = link_to(t('global.cancel'), letters_of_credit_manage_path, class: 'secondary-button')
          =  submit_tag(t('letters_of_credit.preview.action'), class: 'primary-button', disabled: !@letter_of_credit_request.amount.present?)