- @page_title = t('global.page_meta_title', title: @title)
.securities.row
  .securities-header
    %h1= @title
  .securities-main-body.securities-pledge
    .column-9x3-left
      = render partial: 'form', locals: { type: :pledge, account_number: @securities_request.pledged_account, url: securities_pledge_submit_path, accepted_upload_mimetypes: @accepted_upload_mimetypes }
      %p.legal-footer= t('securities.pledge.legal_footer')
    .delete-release-flyout
      %h2= t('securities.pledge.delete_request.title')
      %button.secondary-button{data: {'flyout-action' => 'close'}}= t('securities.release.delete_request.continue')
      = link_to(t('securities.release.delete_request.delete'), securities_manage_path, class: 'primary-button')
    =form_tag(securities_pledge_download_path, name: 'securities-release-download') do
      = hidden_field_tag('securities', @securities_request.securities.to_json)