- @page_title = t('global.page_meta_title', title: @title)
- kind = @securities_request.kind
- authorizer = policy(:security).authorize?
.securities.row
  .securities-header
    %h1= @title
  .securities-main-body.securities-release
    .column-9x3-left
      = form_for(@securities_request, validate: true, url: securities_transfer_submit_path, html: {class: 'securities-submit-release-form'}) do |f|
        = f.hidden_field(:request_id)
        = f.hidden_field(:kind)
        = f.hidden_field(:trade_date)
        = f.hidden_field(:settlement_date)
        = f.hidden_field(:pledged_account)
        = f.hidden_field(:safekept_account)
        - if @error_message
          .securities-submit-release-form-errors
            %p= @error_message
        %section.securities-broker-instructions
          %h2= t('securities.release.broker_instructions')
          - if kind == :pledge_transfer
            .input-field-container-horizontal
              = render 'shared/input_field', form_builder: f, field_name: :pledged_account, label: t('securities.release.account_number.label'), field_class: ['disabled'], html_attributes: { disabled: true }
            .input-field-container-horizontal.pledge_type
              %label{for: 'pledge_to'}= t('securities.release.pledge_type.label')
              = render 'shared/dropdown', dropdown_name: 'securities_request[pledge_to]', default_value: @pledge_type_dropdown.first.last, default_text: @pledge_type_dropdown.first.first, dropdown_options: @pledge_type_dropdown
          - else
            .input-field-container-horizontal
              = render 'shared/input_field', form_builder: f, field_name: :safekept_account, label: t('securities.release.account_number.label'), field_class: ['disabled'], html_attributes: { disabled: true }
        %section.securities-delivery-instructions
          %h2= t('securities.release.delivery_instructions.label')
          - if kind == :pledge_transfer
            %p= t('securities.transfer.pledge.delivery_instructions', safekept_account: @securities_request.safekept_account, pledged_account: @securities_request.pledged_account)
          - else
            %p= t('securities.transfer.safekeep.delivery_instructions', safekept_account: @securities_request.safekept_account, pledged_account: @securities_request.pledged_account)
        %section.securities-display
          %h2= t('securities.title')
          %p.securities-request-upload-success= t('securities.upload_success')
          .securities-request-upload-error= simple_format(t('securities.upload_errors.generic'))
          .securities-release-table-wrapper
            -unless @securities_table_data[:rows].empty?
              = render 'table'
          = render partial: "release_transfer_help", locals: { accepted_upload_mimetypes: @accepted_upload_mimetypes, upload_url: securities_transfer_upload_path, type: :transfer}
        - if authorizer
          - if policy(:security).authorize? && kind == :pledge_transfer
            .securities-request-legal
              =simple_format(t("securities.pledge.legal_copy"))
              = render 'pledge_legal_copy'
          - unless @session_elevated
            = render 'shared/securid_module', error: @securid_status
        %small= t('securities.transfer.legal')
        .securities-actions
          %span.secondary-button.delete-request-trigger= t('global.delete')
          =  submit_tag(@form_data[:submit_text], class: 'primary-button', disabled: true)
        = render 'delete_request_flyout', request_id: @securities_request.request_id
    =form_tag(securities_transfer_download_path, name: 'securities-release-download') do
      = hidden_field_tag('securities', @securities_request.securities.to_json)