- @page_title = t('global.page_meta_title', title: @title)
.securities.securities-requests.row
  .securities-header
    %h1= @title
  .securities-main-body
    %section
      %header
        %h2= t('securities.requests.pending.title')
        = render 'reports/reports_table', table_class: 'securities-request-table', table_data: @awaiting_authorization_requests_table, sortable: false
    %section
      %header
        %h2= t('securities.requests.authorized.title')
        %p= t('securities.requests.authorized.description')
        = render 'reports/reports_table', table_class: ['securities-request-table', 'authorized-requests'], table_data: @authorized_requests_table, sortable: false
= render 'reports/report_loading_flyout'