- @page_title = t('global.page_meta_title', title: @title)
.securities.row
  .securities-header
    %h1= @title
  .securities-main-body
    %section.securities-success
      %p= t('securities.success.thank_you')
      %p=t('securities.success.request_will_remain')
      %ul
        %li=t('securities.success.request_authorized')
        %li=t('securities.success.request_rejected')
        %li=t('securities.success.request_date_passed')
    %section.settings-users.securities-success
      %header
        %h2=t('securities.success.authorizers')
      .securities-success-table
        %table
          %thead
            %tr
              %th= t('global.name')
          %tbody
            %tr
            - @authorized_user_data.each do |user|
              %tr
                %td= user[:display_name]
    %section.securities-success-actions
      = link_to(t('securities.success.buttons.manage'), securities_manage_path, class: 'secondary-button')
      = link_to(t('securities.success.buttons.view'), securities_requests_path, class: 'secondary-button')
      = mail_to('', t('securities.success.buttons.notify'), :class => 'primary-button', :subject => @email_subject, :body => t('securities.success.email.body_html', url: securities_requests_url, member_name: current_member_name))