- @html_class = 'white-background'
- kind = @securities_request.kind
.view-authorized-request.row.report
  .report-header
    %h1= @title
    .report-print-details
      .report-print-bank= @member[:name]
      .report-print-sta= @member[:fhfa_number]
  .report-main-body
    .request-summary-row
      .report-summary-data
        %h3= t('securities.requests.view.authorization_date')
        %p= fhlb_date_standard_numeric(@securities_request.authorized_date)
      .report-summary-data
        %h3
          -case kind
          -when :pledge_intake
            =t('securities.requests.view.pledged_account')
          -when :pledge_release, :safekept_transfer
            =t('securities.requests.view.from_pledged_account')
          -when :safekept_intake
            =t('securities.requests.view.safekeeping_account')
          -when :safekept_release, :pledge_transfer
            =t('securities.requests.view.from_safekeeping_account')
        %p
          -case kind
          -when :pledge_release, :pledge_intake, :safekept_transfer
            = @securities_request.pledged_account
          -when :safekept_release, :safekept_intake, :pledge_transfer
            = @securities_request.safekept_account
      .report-summary-data
        -case kind
        -when :safekept_transfer
          %h3= t('securities.requests.view.safekeeping_account')
          %p= @securities_request.safekept_account
        -when :pledge_transfer
          %h3= t('securities.requests.view.pledged_account')
          %p= @securities_request.pledged_account
    .details.request-summary-row
      .report-summary-data
        %h3= t('securities.requests.view.request_details.title')
        =render 'reports/reports_table', table_data: @request_details_table_data, sortable: false
      -unless SecuritiesRequest::TRANSFER_KINDS.include?(kind)
        .report-summary-data
          %h3= t('securities.requests.view.broker_instructions.title')
          =render 'reports/reports_table', table_data: @broker_instructions_table_data, sortable: false
        .report-summary-data
          %h3= t('securities.requests.view.delivery_instructions.title')
          =render 'reports/reports_table', table_data: @delivery_instructions_table_data, sortable: false
  .securities-table-wrapper
    %h2.report-table-title= t('securities.requests.view.securities.title')
    =render 'reports/reports_table', table_class: "securities-table-#{kind.to_s.gsub('_', '-')}", table_data: @securities_table_data, sortable: false, disable_auto_width: true
    -unless SecuritiesRequest::TRANSFER_KINDS.include?(kind)
      %p= t('securities.requests.view.securities.vs_payment_footnote', footnote_marker: fhlb_footnote_marker)
    -if SecuritiesRequest::INTAKE_KINDS.include?(kind)
      %p= t('securities.requests.view.securities.custodian_name_footnote', footnote_marker: fhlb_footnote_marker(1))
  .legal-footer
    %p= t('securities.requests.view.legal.footer')
    -case kind
    -when :pledge_intake, :pledge_transfer
      %h4= t('securities.requests.view.pledge')
      %p= t('securities.requests.view.legal.header')
      %p= t('securities.requests.view.legal.sub_header')
      %h4= t('securities.requests.view.legal.anti_preditory_lending_title')
      %p= t('securities.requests.view.legal.anti_preditory_lending_text')
      %h4= t('securities.requests.view.legal.nontraditional_and_subprime_mortgage_title')
      %p= t('securities.requests.view.legal.nontraditional_and_subprime_mortgage_text')
    -when :pledge_release
      .legal-pledge-authorization
        %p=t('securities.requests.view.pledge_release.legal.notices')
        %p= t('securities.requests.view.pledge_release.legal.reservation_of_rights')
    -when :safekept_transfer
      .legal-pledge-authorization
        %p=t('securities.requests.view.safekept_transfer.legal.notices')
        %p= t('securities.requests.view.safekept_transfer.legal.reservation_of_rights')
