- @page_title = t('welcome.meta_title')
%section.welcome
  .row
    .column-4x8-left
      .logo-container
        .logo= t('welcome.logo')
    .column-4x8-right
      %h1= t('welcome.title')
  .row
    .column-4x8-left
      %p= t('welcome.questions.p')
      %p= t('welcome.questions.phone')
    .column-4x8-right
      %p= t('welcome.intro')
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %fieldset
          %legend= t('global.login')
          - if flash[:alert].present?
            .form-error= flash[:alert]
          = render 'shared/input_field', form_builder: f, field_name: :username, label: :username
          = render 'shared/input_field', form_builder: f, field_name: :password, field_type: :password_field, label: :password
          = link_to(t('welcome.forgot_password'), '#')
          = f.submit t('global.login'), class: 'primary-button'