%h2= t('resources.membership.forms.required.heading')
%p= t('resources.membership.forms.required.intro')
= render 'form_table', rows: application_table_rows[:required]
%h2= t('resources.membership.forms.requested.heading')
%p= t('resources.membership.forms.requested.intro')
= render 'form_table', rows: application_table_rows[:requested]
%h2= t('resources.membership.forms.optional.heading')
%p= t('resources.membership.forms.optional.intro')
= render 'form_table', rows: application_table_rows[:optional]
%p= t('resources.membership.forms.optional.access_html', url: 'https://member.fhlbsf.com/member/ps/forms/authorize/sig_card_instr.aspx')
= render 'form_table', rows: application_table_rows[:access]