- @html_class = 'white-background'
.row.resource-guide-page
  %h1= t('resources.business_continuity.title')
  %p= t('resources.business_continuity.introduction')
  %h1= t('resources.business_continuity.responsibility.title')
  %p= t('resources.business_continuity.responsibility.description')
  %h2= t('resources.business_continuity.responsibility.communications.title')
  %p= t('resources.business_continuity.responsibility.communications.description')
  %ul
    %li= t('resources.business_continuity.responsibility.communications.relocation')
    %li= t('resources.business_continuity.responsibility.communications.status')
    %li= t('resources.business_continuity.responsibility.communications.cofi_availability')
  %h2= t('resources.business_continuity.responsibility.services.title')
  %p= t('resources.business_continuity.responsibility.services.description')
  %ul
    %li= t('resources.business_continuity.responsibility.services.rollover')
    %li= t('resources.business_continuity.responsibility.services.drawdown')
    %li= t('resources.business_continuity.responsibility.services.settlement')
    %li= t('resources.business_continuity.responsibility.services.acceptance')
  %h1= t('resources.business_continuity.crisis_management.title')
  %p= t('resources.business_continuity.crisis_management.crisis_management_team')
  %p= t('resources.business_continuity.crisis_management.recovery_operations')
  %h1= t('resources.business_continuity.plan.title')
  %p= t('resources.business_continuity.plan.departmental_BCPs')
  %p= t('resources.business_continuity.plan.TDR_planning')
  %h1= t('resources.business_continuity.regulations.title')
  %p= t('resources.business_continuity.regulations.legal_obligations')
  %p= t('resources.business_continuity.regulations.regulatory_authorities')
