.data-visibility.data-visibility-flags.row
  %h1= t('admin.data_visibility.status.title')
  - if flash[:error]
    .form-error-section
      %p= flash[:error]
  - if flash[:notice]
    .form-success-section
      %p= flash[:notice]
  %section.data-visibility-status
    - if @globally_disabled_reports[:rows].count > 0
      %h2{class: "status-off"}= t('admin.data_visibility.status.disabled_for_all')
      =link_to(t('admin.data_visibility.manage_data_visibility.title'), data_visibility_flags_path)
      =render 'data_visibility_disabled_reports_table_section', title: '', table_data: @globally_disabled_reports
    - else
      %h2{class: "status-off"}= t('admin.data_visibility.status.none_disabled_for_all')
      =link_to(t('admin.data_visibility.manage_data_visibility.title'), data_visibility_flags_path)
