%table
  %thead
    %tr
      %th= t('products.swaps.gross_exposure_table.original')
      %th= t('products.swaps.gross_exposure_table.gross_exposure')
  %tbody
    %tr
      %td= t('products.swaps.gross_exposure_table.one_year')
      %td= t('products.swaps.gross_exposure_table.zero')
    %tr
      %td= t('products.swaps.gross_exposure_table.greater_one_year')
      %td= t('products.swaps.gross_exposure_table.five_times')
    %tr
      %td= t('products.swaps.gross_exposure_table.five_years')
      %td= t('products.swaps.gross_exposure_table.fifteen_times')