- @html_class = 'white-background'
.row.product-page
  .column-2x10-right
    %h1= t('products.advances.amortizing.title')
    %p= t('products.advances.amortizing.description')
    %h2= t('products.section_headings.uses')
    %ul
      %li= t("products.advances.amortizing.uses.match")
      %li= t("products.advances.amortizing.uses.finance")
    %h2= t('products.section_headings.advantages')
    %ul
      %li= t("products.advances.amortizing.advantages.portfolio")
      %li= t("products.advances.amortizing.advantages.assets")
    %h2= t('products.section_headings.features')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.amortizing.max_term.years')

    %h3= t('products.advances.amortizing.interest_rate.title')
    %p= t('products.advances.amortizing.interest_rate.advance')

    %h3= t('products.advances.amortizing.interest_day_count.title')
    %p= t('products.advances.amortizing.interest_day_count.count')

    %h3= t('products.advances.amortizing.principal_and_interest_payment_frequency.title')
    %p= t('products.advances.amortizing.principal_and_interest_payment_frequency.frequency')

    %h3= t('products.advances.amortizing.amortization_schedule.title')
    %p= t('products.advances.amortizing.amortization_schedule.schedule')
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
