- uses = %w(finance fund manage reduce lock shorten)
- advantages = %w(indices maturities financing)
- interest = %w(libor prime maturity indices)
= render layout: 'product_page' do
  %h1= t('products.advances.arc.title')
  %p= t('products.advances.arc.description')
  %h2= t('products.section_headings.uses')
  %ul
    - uses.each do |use|
      %li= t("products.advances.arc.uses.#{use}")
  %h2= t('products.section_headings.advantages')
  %ul
    - advantages.each do |advantage|
      %li= t("products.advances.arc.advantages.#{advantage}")
  %h2= t('products.section_headings.features')
  %h3= t('products.common_key_features.maximum_term')
  %p= t('products.advances.arc.features.term.description')
  %h3= t('products.advances.arc.features.interest_rate.title')
  %p= t('products.advances.arc.features.interest_rate.description')
  %ul.key-interest-list
    - interest.each do |interests|
      %li= t("products.advances.arc.interest.#{interests}")
  = simple_format(t('products.advances.arc.interest.description'))
  %h3= t('products.advances.arc.negative.title')
  %p= t('products.advances.arc.negative.description')
  = render 'arc_interest_payments'
  .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
