.row.product-page
  .column-2x10-right
    %h1= t('products.advances.auction_indexed.title')
    %p= t('products.advances.auction_indexed.description')
    %h2= t('products.section_headings.advantages')
    %ul
      %li= t('products.advances.auction_indexed.key_advantages.rate')
      %li= t('products.advances.auction_indexed.key_advantages.call')
    %h2= t('products.section_headings.background')
    %p= t('products.advances.auction_indexed.background')
    %h2= t('products.section_headings.product_description')
    %p= t('products.advances.auction_indexed.product_description')
    %h3= t('products.common_key_features.total_amount_available')
    %p= t('products.advances.auction_indexed.total_amount_available')
    %h3= t('products.common_key_features.maximum_amount_per_auction')
    %p= t('products.advances.auction_indexed.max_amount_per_auction.description')
    %ul
      %li= t('products.advances.auction_indexed.max_amount_per_auction.equal')
      %li= t('products.advances.auction_indexed.max_amount_per_auction.less_than')
    %h3= t('products.common_key_features.minimum_amount_per_auction')
    %p= t('products.advances.auction_indexed.min_per_auction.description')
    %ul
      %li= t('products.advances.auction_indexed.min_per_auction.individual')
      %li= t('products.advances.auction_indexed.min_per_auction.aggregate')
    %p= t('products.advances.auction_indexed.min_per_auction.outstanding')
    %ul
      %li= t('products.advances.auction_indexed.min_per_auction.available')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.auction_indexed.max_term')
    %h3= t('products.common_key_features.interest_rate')
    %p= t('products.advances.auction_indexed.interest_rate')
    %h3= t('products.common_key_features.index')
    %p= simple_format(t('products.advances.auction_indexed.index'))
    %h3= t('products.common_key_features.rate_reset')
    %p= t('products.advances.auction_indexed.rate_reset')
    %h3= t('products.common_key_features.alternate_initial_index')
    %p= t('products.advances.auction_indexed.alt_initial_index')
    %h3= t('products.common_key_features.alternate_repricing_alt_rate')
    %p= simple_format(t('products.advances.auction_indexed.alt_repricing.description'))
    %ul
      %li= t('products.advances.auction_indexed.alt_repricing.filled')
      %li= t('products.advances.auction_indexed.alt_repricing.aggregate')
      %li= t('products.advances.auction_indexed.alt_repricing.partially')
    %p= t('products.advances.auction_indexed.alt_repricing.alt_index')
    %ul
      %li= t('products.advances.auction_indexed.alt_repricing.substitute')
      %li= t('products.advances.auction_indexed.alt_repricing.maturity')
      %li= t('products.advances.auction_indexed.alt_repricing.equal')
    %h3= t('products.common_key_features.request_deadline')
    %p= t('products.advances.auction_indexed.request_deadline')
    %h3= t('products.common_key_features.pricing_settlement')
    %p= t('products.advances.auction_indexed.pricing_settlement')
    %h3= t('products.common_key_features.blackout_auction')
    %p= t('products.advances.auction_indexed.blackout')
    %h3= t('products.common_key_features.interest_payment_frequency')
    %p= t('products.advances.auction_indexed.interest_payment_frequency')
    %h3= t('products.common_key_features.interest_day_count')
    %p= t('products.advances.auction_indexed.interest_day_count')
    %h3= t('products.common_key_features.call_feature')
    %p= t('products.advances.auction_indexed.call_feature')
    %h3= t('products.common_key_features.call_option_dates')
    %p= t('products.advances.auction_indexed.call_option_dates')
    %h3= t('products.common_key_features.call_notice')
    %p= t('products.advances.auction_indexed.call_notice')
    %h3= t('products.common_key_features.call_option_premium')
    %p= t('products.advances.auction_indexed.call_option_premium')
    %h3= t('products.common_key_features.special_notice')
    %p= simple_format(t('products.advances.auction_indexed.special_notice'))
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
