.row.product-page
  .column-2x10-right
    %h1= t('products.advances.callable.title')
    %p= t('products.advances.callable.description')
    %h2= t('products.section_headings.uses')
    %ul
      %li= t('products.advances.callable.uses.fixed')
      %li= t('products.advances.callable.uses.short')
      %li= t('products.advances.callable.uses.address')
      %li= t('products.advances.callable.uses.manage')
    %h2= t('products.section_headings.advantages')
    %ul
      %li= t('products.advances.callable.advantages.fee')
      %li= t('products.advances.callable.advantages.hedge')
      %li= t('products.advances.callable.advantages.risk')
      %li= t('products.advances.callable.advantages.flexibility')
    %h2= t('products.section_headings.features')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.callable.max_term')
    %h3= t('products.common_key_features.interest_rate')
    %p= t('products.advances.callable.interest_rate')
    %h3= t('products.common_key_features.interest_day_count')
    %p= t('products.advances.callable.interest_day_count')
    %h3= t('products.common_key_features.interest_payment_frequency')
    %p= t('products.advances.callable.interest_payment_frequency')
    %h3= t('products.common_key_features.call_dates')
    %p= t('products.advances.callable.call_dates')
    %h3= t('products.common_key_features.call_feature')
    %p= t('products.advances.callable.call_feature')
    %h3= t('products.common_key_features.call_notice')
    %p= t('products.advances.callable.call_notice')
    %h3= t('products.common_key_features.prepayment_features')
    %p= t('products.advances.callable.prepayment_features_html', download_link: link_to_download_resource(t('downloads.statement_of_authority.partial_prepayment_symmetry'), resources_download_path(file: :form_2215)))
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
