.row.product-page
  .column-2x10-right
    %h1= t('products.advances.choice_libor.title')
    %p= t('products.advances.choice_libor.description')
    %h2= t('products.section_headings.uses')
    %ul
      %li= t('products.advances.choice_libor.uses.fund')
      %li= t('products.advances.choice_libor.uses.lock')
      %li= t('products.advances.choice_libor.uses.increase')
      %li= t('products.advances.choice_libor.uses.meet')
    %h2= t('products.section_headings.advantages')
    %ul
      %li= t('products.advances.choice_libor.key-advantages-list.prepayment')
      %li= t('products.advances.choice_libor.key-advantages-list.flexibility')
      %li= t('products.advances.choice_libor.key-advantages-list.maturities')
      %li= t('products.advances.choice_libor.key-advantages-list.termination')
    %h2= t('products.section_headings.features')
    %h3= t('products.common_key_features.minimum_term')
    %p= t('products.advances.choice_libor.minimum_term')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.choice_libor.maximum_term')
    %h3= t('products.common_key_features.interest_rate')
    %p= simple_format(t('products.advances.choice_libor.interest_rate'))
    %h3= t('products.common_key_features.interest_day_count')
    %p= t('products.advances.choice_libor.interest_day_count')
    %h3= t('products.common_key_features.interest_payment_frequency')
    %p= t('products.advances.choice_libor.interest_payment_frequency')
    %h3= t('products.common_key_features.termination_option')
    %p= t('products.advances.choice_libor.termination_option')
    %h3= t('products.common_key_features.termination_option_date')
    %p= t('products.advances.choice_libor.termination_option_date')
    %h3= t('products.common_key_features.termination_option_notice')
    %p= t('products.advances.choice_libor.termination_option_notice')
    %h3= t('products.common_key_features.minimum_interest_rate_convention')
    %p= t('products.advances.choice_libor.minimum_interest_rate_convention')
    %h3= t('products.common_key_features.prepayment_features')
    %p= t('products.advances.choice_libor.prepayment_features')
    %h3= t('products.common_key_features.availability')
    %p= t('products.advances.choice_libor.availability')
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
