= render layout: 'product_page' do
  %h1= t('products.advances.convertible.title')
  %p= t('products.advances.convertible.description')
  %h2= t('products.section_headings.uses')
  %ul
    %li= t('products.advances.convertible.uses.protect')
    %li= t('products.advances.convertible.uses.fund')
    %li= t('products.advances.convertible.uses.lock')
    %li= t('products.advances.convertible.uses.increase')
  %h2= t('products.section_headings.advantages')
  %ul
    %li= t('products.advances.convertible.key_advantages.allows')
    %li= t('products.advances.convertible.key_advantages.wide')
  %h2= t('products.section_headings.features')
  %h3= t('products.common_key_features.minimum_term')
  %p= t('products.advances.convertible.minimum_term')
  %h3= t('products.common_key_features.maximum_term')
  %p= t('products.advances.convertible.maximum_term')
  %h3= t('products.common_key_features.conversion_date')
  %p= t('products.advances.convertible.conversion_date_description')
  %h3= t('products.common_key_features.prepayment_features')
  %p= t('products.advances.convertible.prepayment_features_description_html', download_link: link_to_download_resource(t('downloads.statement_of_authority.partial_prepayment_symmetry'), resources_download_path(file: :form_2215)))
  %h3= t('products.common_key_features.availability')
  %p= t('products.advances.convertible.availability_description')
  %h2= t('products.section_headings.adjustable_rate_terms')
  %h3= t('products.common_key_features.interest_rate')
  %p= simple_format(t('products.advances.convertible.interest_rate.description'))
  %h3= t('products.common_key_features.interest_rate_reset_dates')
  %p= t('products.advances.convertible.interest_rate.reset_dates')
  %h3= t('products.common_key_features.interest_day_count')
  %p= t('products.advances.convertible.interest_rate.day_count')
  %h3= t('products.common_key_features.interest_payment_dates')
  %p= t('products.advances.convertible.interest_rate.payment_dates')
  %h3= t('products.common_key_features.minimum_interest_rate')
  %p= t('products.advances.convertible.interest_rate.minimum')
  %h2= t('products.section_headings.fixed_rate_terms')
  %h3= t('products.common_key_features.interest_rate')
  %p= t('products.advances.convertible.fixed_rate_terms.rate')
  %h3= t('products.common_key_features.interest_day_count')
  %p= t('products.advances.convertible.fixed_rate_terms.day_count')
  %h3= t('products.common_key_features.interest_payment_frequency')
  %p= t('products.advances.convertible.fixed_rate_terms.payment_frequency')
  .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))