.row.product-page
  .column-2x10-right
    %h1= t('products.products_summary.title')
    %p= t('products.products_summary.intro')
    %a{name: 'advances'}
    %h2= t('products.advances.title')
    %p= t('products.products_summary.advances.benefits.intro')
    %ul
      %li= t('products.products_summary.advances.benefits.profitability')
      %li= t('products.products_summary.advances.benefits.management')
      %li= t('products.products_summary.advances.benefits.liquidity')
      %li= t('products.products_summary.advances.benefits.lower_costs')
      %li= t('products.products_summary.advances.benefits.broaden_products')
      %li= t('products.products_summary.advances.benefits.risk')
    %p= t('products.products_summary.advances.customize_html', frc_url: frc_url, callable_url: callable_url, putable_url: putable_url, arc_embedded_url: arc_embedded_url)
    %p= t('products.products_summary.advances.product_list.intro')
    %ul.credit-product-list
      %li= link_to(t('products.advances.arc.title'), arc_path)
      %li= link_to(t('products.advances.ace'), ace_path)
      %li= link_to(t('products.advances.amortizing.title'), amortizing_path)
      %li= link_to(t('products.advances.arc_embedded.title'), arc_embedded_path)
      %li= link_to(t('products.advances.callable'), callable_path)
      %li= link_to(t('products.advances.choice_libor.title'), choice_libor_path)
      %li= link_to(t('products.advances.cip'), cip_path)
      %li= link_to(t('products.advances.auction_indexed.title'), auction_indexed_path)
      %li= link_to(t('products.advances.frc.title'), frc_path)
      %li= link_to(t('products.advances.frc_embedded.title'), frc_embedded_path)
      %li= link_to(t('products.advances.knockout.title'), knockout_path)
      %li= link_to(t('products.advances.mpf'), mpf_path)
      %li= link_to(t('products.advances.ocn.title'), ocn_path)
      %li= link_to(t('products.advances.putable.title'), putable_path)
      %li= link_to(t('products.advances.sbc'), sbc_path)
      %li= link_to(t('products.advances.vrc'), vrc_path)
    %p= t('products.products_summary.advances.stand_alone_html', url: '#')
    %h2= t('products.standby_loc.title')
    %p= t('products.standby_loc.description_html', url: letters_of_credit_url)
    %a{name: 'mpf_program'}
    %h2= t('products.mpf_program.title')
    %p= t('products.mpf_program.description_html', url: mpf_url)
    %h2= t('products.community_programs.title')
    %p= t('products.community_programs.description_html', url: community_programs_url)
