.row.product-page
  .column-2x10-right
    %h1= t('products.advances.knockout.title')
    %p= simple_format(t('products.advances.knockout.description'))
    %h2= t('products.section_headings.uses')
    %ul
      %li= t('products.advances.knockout.uses.lower')
      %li= t('products.advances.knockout.uses.link')
    %h2= t('products.section_headings.advantages')
    %ul
      %li= t('products.advances.knockout.advantages.lower')
      %li= t('products.advances.knockout.advantages.transparency')
    %h2= t('products.section_headings.features')
    %p= t('products.advances.knockout.features')
    %h3= t('products.common_key_features.eligibility')
    %p= t('products.advances.knockout.eligibility_html', url: asset_path('fc2161.pdf'))
    %h3= t('products.common_key_features.early_termination')
    %p= t('products.advances.knockout.early_termination')
    %h3= t('products.common_key_features.total_max_per_borrow')
    %p= t('products.advances.knockout.total_max_per_borrow')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.knockout.maximum_term')
    %h3= t('products.common_key_features.interest_day_count')
    %p= t('products.advances.knockout.interest_day_count')
    %h3= t('products.common_key_features.interest_payment_frequency')
    %p= t('products.advances.knockout.interest_payment_frequency')
    %h3= t('products.common_key_features.lockout_period')
    %p= t('products.advances.knockout.lockout_period')
    %h3= t('products.common_key_features.knockout_dates_observe_period')
    %p= t('products.advances.knockout.knockout_dates_observe_period')
    %h3= t('products.common_key_features.interest_strike_rate')
    %p= t('products.advances.knockout.interest_strike_rate')
    %h3= t('products.common_key_features.prepayment_features')
    %p= t('products.advances.knockout.prepayment_features_html', url: asset_path('fc2215.pdf'))
    %h3= t('products.common_key_features.special_notice')
    %p= simple_format(t('products.advances.knockout.special_notice'))
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
