= render layout: 'product_page' do
  %h1= t('products.standby_loc.title')
  %p= t('products.standby_loc.description')
  %h2= t('products.standby_loc.standard_loc.title')
  %p= t('products.standby_loc.standard_loc.description_html', url: 'http://fhlbsf.com/community/credit/lc-profile.aspx')
  %h2= t('products.standby_loc.variable_balance_loc.title')
  %p= t('products.standby_loc.variable_balance_loc.description_html', url: products_vbloc_path)