.row.product-page
  .column-2x10-right
    %h1= t('products.advances.mpf.title')
    %p= t('products.advances.mpf.description_html')
    %ul
      %li= t('products.advances.mpf.description_list.mpf_original_html', download_link: link_to_download_resource(t('downloads.mpf.original'), 'https://www.fhlbmpf.com/PRODUCTS/Shared%20Documents/FHLBNational_MPF%20Original.pdf'))
      %li= t('products.advances.mpf.description_list.mpf_xtra_html', download_link: link_to_download_resource(t('downloads.mpf.xtra'), 'https://www.fhlbmpf.com/PRODUCTS/Shared%20Documents/MPFXtra_Provider.pdf'))
      %li= t('products.advances.mpf.description_list.mpf_direct_html', download_link: link_to_download_resource(t('downloads.mpf.direct'), 'https://www.fhlbmpf.com/PRODUCTS/Shared%20Documents/MPF%20Direct.pdf'))
      %li= t('products.advances.mpf.description_list.mpf_government_mbs_html', download_link: link_to_download_resource(t('downloads.mpf.mbs'), 'https://www.fhlbmpf.com/PRODUCTS/Shared%20Documents/FHLBNational_MPF%20Government%20MBS.pdf'))
    %h2= t('products.section_headings.member_eligibility')
    %p= (t('products.advances.mpf.member_eligibility_html', url: pfi_path))
    %ul
      %li= t('products.advances.mpf.eligibility_list.creditworthiness')
      %li= t('products.advances.mpf.eligibility_list.lending')
      %li= t('products.advances.mpf.eligibility_list.servicing')
    %p= t('products.advances.mpf.mpf_direct')
    %p= t('products.advances.mpf.mpf_gov_mbs')
    %h2= t('products.advances.mpf.agreement_header')
    %p= t('products.advances.mpf.agreement_html')
    %h2= t('products.advances.mpf.enhancement_header')
    %p= t('products.advances.mpf.enhancement')
    %h2= t('products.section_headings.collateral_requirements')
    %p= t('products.advances.mpf.collateral')
    %h2= t('products.advances.mpf.servicing_header')
    %p= t('products.advances.mpf.servicing')
    %h2= t('products.section_headings.remittance')
    %p= t('products.advances.mpf.remittance')
    %h2= t('products.section_headings.training')
    %p= t('products.advances.mpf.training_html')
    %h2= t('products.section_headings.ongoing_requirements')
    %p= t('products.advances.mpf.ongoing')
    %h2= t('products.section_headings.additional_information')
    %p= (t('products.advances.mpf.additional_information_html', url:'https://www.fhlbmpf.com/Pages/default.aspx'))
    %p= t('products.advances.mpf.mpf_trademark')
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
