.row.product-page
  .column-2x10-right
    %h1= t('products.advances.ocn.title')
    %p= t('products.advances.ocn.description')
    %h2= t('products.section_headings.use')
    %ul
      %li= t("products.advances.ocn.uses.financing")
    %h2= t('products.section_headings.advantages')
    %ul
      %li= t("products.advances.ocn.advantages.fund")
      %li= t("products.advances.ocn.advantages.same_day")
    %h2= t('products.section_headings.features')
    %h3= t('products.common_key_features.eligibility')
    %p= t('products.advances.ocn.eligibility')
    %h3= t('products.common_key_features.maximum_ammount')
    %p= t('products.advances.ocn.maximum_ammount')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.ocn.maximum_term')
    %h3= t('products.common_key_features.interest_rate')
    %p= t('products.advances.ocn.interest_rate')
    %h3= t('products.common_key_features.interest_day_count')
    %p= t('products.advances.ocn.interest_day_count')
    %h3= t('products.common_key_features.interest_payment_frequency')
    %p= t('products.advances.ocn.interest_payment_frequency')
    %h3= t('products.common_key_features.repayment')
    %p= t('products.advances.ocn.repayment')
    %h3= t('products.common_key_features.renewal')
    %p= t('products.advances.ocn.renewal')
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
