.row.product-page
  .column-2x10-right
    %h1= t('products.advances.putable.title')
    %p= simple_format(t('products.advances.putable.description'))
    %h2= t('products.section_headings.use')
    %ul
      %li= t("products.advances.putable.use")
    %h2= t('products.section_headings.advantage')
    %ul
      %li= t("products.advances.putable.advantage")
    %h2= t('products.section_headings.features')
    %p= t('products.advances.putable.features')
    %h3= t('products.common_key_features.eligibility')
    %p= t('products.advances.putable.eligibility_html', download_link: link_to_download_resource(t('downloads.statement_of_authority.putable_advances'), resources_download_path(file: :form_2161)))
    %h3= t('products.common_key_features.bank_terminate')
    %p= t('products.advances.putable.bank_terminate')
    %h3= t('products.common_key_features.total_max_per_borrow')
    %p= t('products.advances.putable.total_max_amount_borrow')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.putable.maximum_term')
    %h3= t('products.common_key_features.interest_day_count')
    %p= t('products.advances.putable.interest_day_count')
    %h3= t('products.common_key_features.interest_payment_frequency')
    %p= t('products.advances.putable.interest_payment_frequency')
    %h3= t('products.common_key_features.put_lockout_period')
    %p= t('products.advances.putable.put_lockout_period')
    %h3= t('products.common_key_features.put_dates')
    %p= t('products.advances.putable.put_dates')
    %h3= t('products.common_key_features.prepayment_features')
    %p= t('products.advances.putable.prepayment_features_html', download_link: link_to_download_resource(t('downloads.statement_of_authority.partial_prepayment_symmetry'), resources_download_path(file: :form_2215)))
    %h3= t('products.common_key_features.special_notice')
    %p= simple_format(t('products.advances.putable.special_notice'))
    .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))
