.row.product-page
  .column-2x10-right
    %h1= t('products.advances.sbc.title')
    %p= t('products.advances.sbc.description')
    %h2= t('products.section_headings.uses')
    %ul
      %li= t('products.advances.sbc.uses.secure')
      %li= t('products.advances.sbc.uses.action')
      %li= t('products.advances.sbc.uses.leverage')
    %h2= t('products.section_headings.advantages')
    %ul
      %li= t('products.advances.sbc.advantages.pricing')
      %li= t('products.advances.sbc.advantages.calls')
      %li= t('products.advances.sbc.advantages.substitute')
    %h2= t('products.section_headings.features')
    %h3= t('products.common_key_features.maximum_term')
    %p= t('products.advances.sbc.maximum_term')
    %h3= t('products.common_key_features.credit_products_available')
    %ul
      %li= t('products.advances.sbc.credit_products_available.fixed')
      %li= t('products.advances.sbc.credit_products_available.frc')
      %li= t('products.advances.sbc.credit_products_available.amortizing')
      %li= t('products.advances.sbc.credit_products_available.callable')
      %li= t('products.advances.sbc.credit_products_available.putable')
      %li= t('products.advances.sbc.credit_products_available.knockout')
      %li= t('products.advances.sbc.credit_products_available.variable')
      %li= t('products.advances.sbc.credit_products_available.arc')
      %li= t('products.advances.sbc.credit_products_available.arc_embedded')
    %h3= t('products.common_key_features.interest_rate')
    %p= t('products.advances.sbc.interest_rate')
    %h3= t('products.common_key_features.interest_day_count')
    %p= t('products.advances.sbc.interest_day_count')
    %h3= t('products.common_key_features.interest_payment_frequency')
    %p= t('products.advances.sbc.interest_payment_frequency')
    %h3= t('products.common_key_features.eligible_capacity')
    %p= t('products.advances.sbc.eligible_capacity')
    %section
      %table
        %thead
          %tr
            %th= t('products.advances.sbc.column1.eligible_securities')
            %th= t('products.advances.sbc.column2.borrowing_capacity')
        %tbody
          %tr
            %th= t('products.advances.sbc.column1.treasury.title')
            %th
          %tr.nested-row
            %td= t('products.advances.sbc.column1.treasury.t_bills')
            %td= t('products.advances.sbc.column2.treasury.t_bills')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.treasury.t_notes_less')
            %td= t('products.advances.sbc.column2.treasury.t_notes_less')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.treasury.t_notes_greater')
            %td= t('products.advances.sbc.column2.treasury.t_notes_greater')
          %tr
            %th= t('products.advances.sbc.column1.agency.title')
            %th
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.discount_notes')
            %td= t('products.advances.sbc.column2.agency.discount_notes')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.debenture_notes')
            %td= t('products.advances.sbc.column2.agency.debenture_notes')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.agency_mbs')
            %td= t('products.advances.sbc.column2.agency.agency_mbs')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.gnma')
            %td= t('products.advances.sbc.column2.agency.gnma')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.agency_cmo')
            %td= t('products.advances.sbc.column2.agency.agency_cmo')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.gnma_hecm')
            %td= t('products.advances.sbc.column2.agency.gnma_hecm')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.agency_cmo_low_html')
            %td= t('products.advances.sbc.column2.agency.agency_cmo_low')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.agency_cmo_high_html')
            %td= t('products.advances.sbc.column2.agency.agency_cmo_high')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.structured_notes')
            %td= t('products.advances.sbc.column2.agency.structured_notes')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.index_notes')
            %td= t('products.advances.sbc.column2.agency.index_notes')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.small_business')
            %td= t('products.advances.sbc.column2.agency.small_business')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.sba_cdc')
            %td= t('products.advances.sbc.column2.agency.sba_cdc')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.sba_sbic')
            %td= t('products.advances.sbc.column2.agency.sba_sbic')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.agency.fdic')
            %td= t('products.advances.sbc.column2.agency.fdic')
          %tr
            %td= t('products.advances.sbc.column1.public.title')
            %td
          %tr
            %td= t('products.advances.sbc.column1.public.publicly_registered')
            %td
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aaa_senior_residential_mbs')
            %td= t('products.advances.sbc.column2.public.aaa_senior_residential_mbs')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aa_senior_residential_mbs')
            %td= t('products.advances.sbc.column2.public.aa_senior_residential_mbs')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aaa_sub_mezz_residential_mbs')
            %td= t('products.advances.sbc.column2.public.aaa_sub_mezz_residential_mbs')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aa_sub_mezz_residential_mbs')
            %td= t('products.advances.sbc.column2.public.aa_sub_mezz_residential_mbs')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aaa_senior_home')
            %td= t('products.advances.sbc.column2.public.aaa_senior_home')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aaa_sub_mezz_home')
            %td= t('products.advances.sbc.column2.public.aaa_sub_mezz_home')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aa_sub_mezz_home')
            %td= t('products.advances.sbc.column2.public.aa_sub_mezz_home')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aaa_senior_commercial')
            %td= t('products.advances.sbc.column2.public.aaa_senior_commercial')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.public.aaa_sub_mezz_commercial')
            %td= t('products.advances.sbc.column2.public.aaa_sub_mezz_commercial')
          %tr
            %td= t('products.advances.sbc.column1.private.title')
            %td
          %tr
            %td= t('products.advances.sbc.column1.private.private_placement')
            %td
          %tr.nested-row
            %td= t('products.advances.sbc.column1.private.aaa_senior_residential_mbs')
            %td= t('products.advances.sbc.column2.private.aaa_senior_residential_mbs')
          %tr.nested-row
            %td= t('products.advances.sbc.column1.private.aa_senior_residential_mbs')
            %td= t('products.advances.sbc.column2.private.aa_senior_residential_mbs')
          %tr
            %td= t('products.advances.sbc.column1.muni_bonds')
            %td= t('products.advances.sbc.column2.muni_bonds')
          %tr
            %td= t('products.advances.sbc.column1.mutual_fund_shares')
            %td= t('products.advances.sbc.column2.mutual_fund_shares')
          %tr
            %td= t('products.advances.sbc.column1.bank_term_deposits')
            %td= t('products.advances.sbc.column2.bank_term_deposits')
      %small= t('products.advances.sbc.agency_cmo_html')
    %h3= t('products.common_key_features.market_value')
    %p= t('products.advances.sbc.market_value')
    %h3= t('products.common_key_features.private_label_non_mbs')
    %p= t('products.advances.sbc.private_label_non_mbs')
    %h3= t('products.common_key_features.review_ratings')
    %p= t('products.advances.sbc.review_ratings')
    %h3= t('products.common_key_features.borrowing_market_securities')
    %p= t('products.advances.sbc.borrowing_market_securities')
    %ul
      %li= t('products.advances.sbc.bms_list.margin_call')
      %li= t('products.advances.sbc.bms_list.additional_pledge_reason')
      %ul
        %li= t('products.advances.sbc.bms_list.falls_below')
        %li= t('products.advances.sbc.bms_list.sufficient_excess')
    %ul
      %li= t('products.advances.sbc.bms_list.current_borrowing')
      %li= t('products.advances.sbc.bms_list.margin_requirement')
      %li= t('products.advances.sbc.bms_list.not_release')
    %h3= t('products.common_key_features.delivery')
    %p= t('products.advances.sbc.delivery')
    %h3= t('products.common_key_features.substitution')
    %p= t('products.advances.sbc.substitution')
