= render layout: 'product_page' do
  %h1= t('products.advances.sbc.title')
  %p= t('products.advances.sbc.description')
  %h2= t('products.section_headings.uses')
  %ul
    %li= t('products.advances.sbc.uses.secure')
    %li= t('products.advances.sbc.uses.action')
    %li= t('products.advances.sbc.uses.leverage')
  %h2= t('products.section_headings.advantages')
  %ul
    %li= t('products.advances.sbc.advantages.pricing')
    %li= t('products.advances.sbc.advantages.calls')
    %li= t('products.advances.sbc.advantages.substitute')
  %h2= t('products.section_headings.features')
  %h3= t('products.common_key_features.maximum_term')
  %p= t('products.advances.sbc.maximum_term')
  %h3= t('products.common_key_features.credit_products_available')
  %ul
    %li= t('products.advances.sbc.credit_products_available.fixed')
    %li= t('products.advances.sbc.credit_products_available.frc')
    %li= t('products.advances.sbc.credit_products_available.amortizing')
    %li= t('products.advances.sbc.credit_products_available.callable')
    %li= t('products.advances.sbc.credit_products_available.putable')
    %li= t('products.advances.sbc.credit_products_available.knockout')
    %li= t('products.advances.sbc.credit_products_available.variable')
    %li= t('products.advances.sbc.credit_products_available.arc')
    %li= t('products.advances.sbc.credit_products_available.arc_embedded')
  %h3= t('products.common_key_features.interest_rate')
  %p= t('products.advances.sbc.interest_rate')
  %h3= t('products.common_key_features.interest_day_count')
  %p= t('products.advances.sbc.interest_day_count')
  %h3= t('products.common_key_features.interest_payment_frequency')
  %p= t('products.advances.sbc.interest_payment_frequency')
  %h3= t('products.common_key_features.market_value')
  %p= t('products.advances.sbc.market_value')
  %h3= t('products.common_key_features.agency_cmo_accrual_bonds')
  %p= t('products.advances.sbc.agency_cmo_html')
  %h3= t('products.common_key_features.private_label_non_mbs')
  %p= t('products.advances.sbc.private_label_non_mbs')
  %h3= t('products.common_key_features.review_ratings')
  %p= t('products.advances.sbc.review_ratings')
  %h3= t('products.common_key_features.borrowing_market_securities')
  %p= t('products.advances.sbc.borrowing_market_securities')
  %ul
    %li= t('products.advances.sbc.bms_list.margin_call')
    %li
      = t('products.advances.sbc.bms_list.additional_pledge_reason')
      %ul
        %li= t('products.advances.sbc.bms_list.falls_below')
        %li= t('products.advances.sbc.bms_list.sufficient_excess')
    %li= t('products.advances.sbc.bms_list.current_borrowing')
    %li= t('products.advances.sbc.bms_list.margin_requirement')
    %li= t('products.advances.sbc.bms_list.not_release')
  %h3= t('products.common_key_features.delivery')
  %p= t('products.advances.sbc.delivery')
  %h3= t('products.common_key_features.substitution')
  %p= t('products.advances.sbc.substitution')
  = render 'sbc_eligible_securities'
  .last-modified= t('products.section_headings.last_modified', date: fhlb_date_short_alpha(@last_modified))