- report_url ||=nil
- start_date ||=nil
- end_date ||=nil
- presets ||= []
- single_date_picker ||= false
- max_date ||= false
- min_date ||= false
- open_direction ||= 'right'
- insert_filter_before ||=nil
- date_picker_filter ||=nil

= form_tag(report_url, method: 'GET') do
  - if start_date
    = text_field_tag :start_date, start_date, class: 'datepicker-input-field'
  - if end_date
    = text_field_tag :end_date, end_date, class: 'datepicker-input-field'
  - if insert_filter_before
    = yield
  .report-datepicker
    = render 'shared/date_picker', presets: presets, form: '.report-inputs form', single_date_picker: single_date_picker, max_date: max_date, min_date: min_date, open_direction: open_direction, date_picker_filter: date_picker_filter
  - if !insert_filter_before
    = yield
