- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.report.advances-detail-report.row
  .report-header
    %h1= t('reports.pages.advances_detail.title')
    .report-header-buttons
      %button.report-button-left= t('global.print')
      %span.report-split-button
        %button.report-button-right= t('dashboard.actions.download')
        %button.report-drop-down-right= t('dashboard.actions.xml')
    .report-inputs
      = form_tag(reports_advances_detail_url, method: 'GET') do
        = text_field_tag :as_of_date, @as_of_date, class: 'datepicker-input-field'
        .report-datepicker
          = render 'shared/date_picker', presets: @picker_presets, form: '.report-inputs form', single_date_picker: true, max_date: Time.zone.now.to_date
  .report-main-body
    .report-summary-data
      %h3
        = t('reports.pages.advances_detail.total_current_par_heading', date: fhlb_date_long_alpha(@as_of_date))
      %p= fhlb_formatted_currency_whole(@advances_detail[:total_par], force_unit: true)
    .report-summary-data
      %h3
        = t('reports.pages.advances_detail.total_accrued_interest_heading', date: fhlb_date_long_alpha(@as_of_date))
      %p= fhlb_formatted_currency(@advances_detail[:total_accrued_interest], force_unit: true)
    .report-summary-data
      %h3
        = t('reports.pages.advances_detail.estimated_next_payment_heading', date: fhlb_date_long_alpha(@as_of_date))
      %p= fhlb_formatted_currency(@advances_detail[:estimated_next_payment], force_unit: true)
    %h2.report-table-title= t('reports.pages.advances_detail.title')
    %table.table-allow-wrapping.report-table.advances-details-report-table{data: {sortable: true, :'disable-auto-width' => true}}
      %thead
        %tr
          %th.report-cell-narrow= t('reports.pages.advances_detail.trade_date')
          %th.report-cell-narrow= t('reports.pages.advances_detail.funding_date')
          %th.report-cell-narrow= t('reports.pages.advances_detail.maturity_date')
          %th.report-cell-narrow= t('reports.pages.advances_detail.advance_number')
          %th.report-cell-narrow= fhlb_add_unit_to_table_header(t('reports.pages.advances_detail.current_par_heading'), '$')
          %th.report-cell-narrow= fhlb_add_unit_to_table_header(t('reports.pages.advances_detail.interest_rate_heading'), '%')
          %th.report-cell-narrow= t('reports.pages.advances_detail.next_interest_payment_date')
          %th.report-cell-narrow= fhlb_add_unit_to_table_header(t('reports.pages.advances_detail.accrued_interest_heading'), '$')
          %th.report-cell-narrow= fhlb_add_unit_to_table_header(t('reports.pages.advances_detail.estimated_next_payment_table_heading'), '$')
          %th.report-cell-narrow{data: {unsortable: true}}= t('global.details')
          %th
      %tbody
        - @advances_detail[:advances_details].each_with_index do |row, index|
          %tr
            %td.report-cell-narrow= fhlb_date_standard_numeric(row[:trade_date]) if row[:trade_date]
            %td.report-cell-narrow= fhlb_date_standard_numeric(row[:funding_date]) if row[:funding_date]
            %td.report-cell-narrow= row[:maturity_date].blank? ? t('global.open') : fhlb_date_standard_numeric(row[:maturity_date])
            %td.report-cell-narrow= row[:advance_number]
            %td.report-cell-narrow.report-cell-right= fhlb_formatted_number(row[:current_par]) if row[:current_par]
            %td.report-cell-narrow= row[:interest_rate]
            %td.report-cell-narrow= row[:next_interest_pay_date].blank? ? '-' : fhlb_date_standard_numeric(row[:next_interest_pay_date])
            %td.report-cell-narrow.report-cell-right= fhlb_formatted_number(row[:accrued_interest]) if row[:accrued_interest]
            %td.report-cell-narrow.report-cell-right= row[:estimated_next_interest_payment].blank? ? '-' : fhlb_formatted_number(row[:estimated_next_interest_payment])
            %td.report-cell-narrow.report-cell-right.detail-view-trigger= t('global.view')
            %td.advance-details{colspan: 10}
              %h3= t('reports.pages.advances_detail.record_title')
              %p.hide-detail-view= t('global.hide')
              .left-column
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.trade_date')
                    %td= fhlb_date_standard_numeric(row[:trade_date]) if row[:trade_date]
                  %tr
                    %td= t('reports.pages.advances_detail.funding_date')
                    %td= fhlb_date_standard_numeric(row[:funding_date]) if row[:funding_date]
                  %tr
                    %td= t('reports.pages.advances_detail.maturity_date')
                    %td= row[:maturity_date].blank? ? t('global.open') : fhlb_date_standard_numeric(row[:maturity_date])
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.advance_number')
                    %td= row[:advance_number]
                  %tr
                    %td= t('reports.pages.advances_detail.advance_type')
                    %td= row[:advance_type]
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.current_par')
                    %td= fhlb_formatted_currency_whole(row[:current_par]) if row[:current_par]
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.interest_payment_frequency')
                    %td= row[:interest_payment_frequency]
                  %tr
                    %td= t('reports.pages.advances_detail.day_count_basis')
                    %td= row[:day_count_basis]
              .right-column
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.interest_rate')
                    %td= row[:interest_rate]
                  %tr
                    %td= t('reports.pages.advances_detail.accrued_interest')
                    %td= fhlb_formatted_currency(row[:accrued_interest]) if row[:accrued_interest]
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.next_interest_payment_date')
                    %td= row[:next_interest_pay_date].blank? ? '-' : fhlb_date_standard_numeric(row[:next_interest_pay_date])
                  %tr
                    %td= t('reports.pages.advances_detail.estimated_next_payment')
                    %td= row[:estimated_next_interest_payment].blank? ? '-' : fhlb_formatted_currency(row[:estimated_next_interest_payment])
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.discount_program')
                    %td= row[:discount_program] || t('global.none')
                %table
                  %tr
                    %td= t('reports.pages.advances_detail.prepayment_fee_indication')
                    %td= row[:prepayment_fee_indication].html_safe
      %tfoot
        %tr
          %td.report-cell-narrow= t('global.totals')
          %td.report-cell-narrow{colspan: 3}
          %td.report-cell-narrow.report-cell-right= fhlb_formatted_currency_whole(@advances_detail[:total_par], force_unit: true)
          %td.report-cell-narrow{colspan: 2}
          %td.report-cell-narrow.report-cell-right= fhlb_formatted_currency(@advances_detail[:total_accrued_interest], force_unit: true)
          %td.report-cell-narrow.report-cell-right= fhlb_formatted_currency(@advances_detail[:estimated_next_payment], force_unit: true)
          %td.report-cell-narrow
