- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.report.authorizations-report.row{data: {deferred: @job_status_url, 'deferred-load' => @load_url}}
  .report-header
    %h1= @report_name
    - if @print_layout
      = render 'print_details', name: @member_name, date: t('datepicker.single.input', date: fhlb_date_standard_numeric(@today))
    - else
      = render 'reports_header_buttons', allowed_params: :authorizations_filter, download_formats: [:pdf, :xlsx]
      = render 'report_details', name: @member_name, freshness: t('reports.freshness.current'), availability: t('reports.availability.current')
    %p= t('reports.pages.authorizations.intro_html', url: forms_path(anchor: 'authorizations'))
    .report-inputs
      = form_tag(reports_authorizations_url, method: 'GET') do
        .report-filter.authorizations-filter
          = render 'shared/dropdown', dropdown_name: 'authorizations_filter', default_value: @authorizations_filter, default_text: @authorizations_filter_text, dropdown_options: @authorizations_dropdown_options
  .report-main-body
    %h2.report-table-title= @authorizations_title
    - if @footnote_role
      %small.inclusive-role-note= t('reports.pages.authorizations.table_footnote', role: @footnote_role)
    =render 'reports/reports_table', table_class: 'authorizations-table', table_data: @authorizations_table_data, sortable: false
    %section
      - [[:resolution, :entire_authority, :wire_transfer, :advances, :affordable_housing], [:collateral, :interest_rate_derivatives, :money_market, :securities, :access_manager]].each do |column|
        .column-3
          - column.each do |role|
            %small
              %span= t("user_roles.#{role}.description_title")
              %span= t("user_roles.#{role}.description")
    %small= t('reports.pages.authorizations.contact_html', operations_url: operations_email, operations_phone_number: fhlb_formatted_phone_number('4156162616'))
