- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.report.row
  .report-header
    %h1= t('reports.pages.capital_stock_activity.title')
    = render 'reports_header_buttons'
    = render 'report_details', name: @member_name, freshness: t('reports.freshness.prior_day'), availability: t('reports.availability.months', months: 12)
    .report-inputs
      = render 'reports_date_picker_form', start_date: @start_date, end_date: @end_date, report_url: reports_capital_stock_activity_url, presets: @picker_presets
  .report-main-body
    .report-summary-data
      %h3
        = report_summary_with_date('reports.pages.capital_stock_activity.opening_balance_heading', fhlb_date_long_alpha(@capital_stock_activity[:start_date]))
      %p= t('reports.share_count', count: fhlb_formatted_number(@capital_stock_activity[:start_balance], html: false))
    .report-summary-data
      %h3
        = report_summary_with_date('reports.pages.capital_stock_activity.closing_balance_heading', fhlb_date_long_alpha(@capital_stock_activity[:end_date]))
      %p= t('reports.share_count', count: fhlb_formatted_number(@capital_stock_activity[:end_balance], html: false))
    %h2.report-table-title= t('reports.pages.capital_stock_activity.table_title')
    %table.report-table{data: {sortable: true, :'missing-data-message' => missing_data_message}}
      %thead
        %tr
          %th.report-cell-narrow= t("global.issue_date")
          %th= t('reports.pages.capital_stock_activity.certificate_sequence')
          %th.report-cell-expanding= t('global.transaction_type')
          %th= t('reports.pages.capital_stock_trial_balance.debit_shares')
          %th= t('reports.pages.capital_stock_trial_balance.credit_shares')
          %th= t('reports.pages.capital_stock_activity.shares_outstanding')
      %tbody
        -@capital_stock_activity[:activities].to_a.each do |row|
          %tr
            %td.report-cell-narrow= fhlb_date_standard_numeric(row[:trans_date])
            %td= row['cert_id']
            %td.report-cell-expanding= row[:trans_type]
            %td.report-cell-right= fhlb_formatted_number row[:debit_shares]
            %td.report-cell-right= fhlb_formatted_number row[:credit_shares]
            %td.report-cell-right= fhlb_formatted_number row[:outstanding_shares]
      %tfoot
        %tr
          %td.report-cell-total.report-cell-narrow{colspan: 2}= t('global.totals')
          %td.report-cell-expanding
          %td.report-cell-right= fhlb_formatted_number @capital_stock_activity[:total_debits]
          %td.report-cell-right= fhlb_formatted_number @capital_stock_activity[:total_credits]
          %td
    %small= t('reports.accuracy_notice_html', url: '#', phone_number: fhlb_formatted_phone_number('4156162634'), phone_number_alt: fhlb_formatted_phone_number('4156162913'))