- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.report.row
  .report-header
    %h1= @report_name
    = render 'reports_header_buttons', download_formats: [:xlsx]
    = render 'report_details', name: @member_name, freshness: t('reports.freshness.prior_day'), availability: t('reports.availability.months', months: 12)
    .report-inputs
      = render 'reports_date_picker_form', start_date: @start_date, end_date: @end_date, report_url: reports_capital_stock_activity_url, presets: @picker_presets, min_date: @min_date
  .report-main-body
    .report-summary-data
      %h3
        = report_summary_with_date('reports.pages.capital_stock_activity.opening_balance_heading', fhlb_date_long_alpha(@capital_stock_activity[:start_date]))
      %p= t('reports.share_count', count: fhlb_formatted_number(@capital_stock_activity[:start_balance], html: false))
    .report-summary-data
      %h3
        = report_summary_with_date('reports.pages.capital_stock_activity.closing_balance_heading', fhlb_date_long_alpha(@capital_stock_activity[:end_date]))
      %p= t('reports.share_count', count: fhlb_formatted_number(@capital_stock_activity[:end_balance], html: false))
    %h2.report-table-title= t('reports.pages.capital_stock_activity.table_title')
    =render 'reports/reports_table', table_data: @capital_stock_activity_table_data, sortable: true, disable_auto_width: false, no_wrapping: true
    %small= t('reports.accuracy_notice_html', url: '#', phone_number: fhlb_formatted_phone_number('4156162634'), phone_number_alt: fhlb_formatted_phone_number('4156162913'))