- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.report.historical-price-indications-report.row
  .report-header
    %h1= t('reports.pages.price_indications.historical')
    .report-header-buttons
      %button.report-button-left= t('global.print')
      %span.report-split-button
        %button.report-button-right= t('dashboard.actions.download')
        %button.report-drop-down-right= t('dashboard.actions.xml')
    .report-inputs
      = form_tag(reports_historical_price_indications_url, method: 'GET') do
        = text_field_tag :start_date, @start_date, class: 'datepicker-input-field'
        = text_field_tag :end_date, @end_date, class: 'datepicker-input-field'
        .report-filter.collateral-type-filter
          = render 'shared/dropdown', dropdown_name: 'historical_price_collateral_type', default_value: @collateral_type, default_text: @collateral_type_text, dropdown_options: @collateral_type_options
        .report-filter.report-filter-wide.credit-type-filter
          = render 'shared/dropdown', dropdown_name: 'historical_price_credit_type', default_value: @credit_type, default_text: @credit_type_text, dropdown_options: @credit_type_options
        .report-datepicker
          = render 'shared/date_picker', presets: @picker_presets, form: '.report-inputs form', single_date_picker: @single_date_picker, open_direction: 'left'
  .report-main-body
    = render 'reports/reports_table', table_class: "#{@collateral_type}_#{@credit_type}_table", table_data: @table_data