- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.reports.row
  %h1= t('reports.title')
  %nav
    - @reports.each do |category, reports|
      =link_to(t("reports.#{category}.title"), "##{category}")
  - @reports.each do |category, reports|
    %a{name: category}
    %table.reports-table.table-striped
      %thead
        %tr
          %th= t("reports.#{category}.title")
      %tbody
        - reports.each do |report, details|
          %tr
            %td.description-cell
              =link_to details[:route] || '#' do
                %h3= details[:title] || t("reports.#{category}.#{report}.title")
                %p= details[:summary] || t("reports.#{category}.#{report}.summary")
                .report-info
                  %span= t('reports.shared_table_values.updated')
                  %span= details[:updated]
                .report-info
                  %span= t('reports.shared_table_values.available_history')
                  %span= details[:available_history]
                %p= t('global.view')