- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.report.row.securities-transactions-report
  .report-header
    %h1= @report_name
    - if @print_layout
      = render 'print_details', name: @member_name, date: t('datepicker.single.input', date: fhlb_date_standard_numeric(@start_date))
    - else
      = render 'reports_header_buttons', download_formats: [:pdf, :xlsx]
      = render 'report_details', name: @member_name, freshness: t('reports.pages.securities_transactions.freshness'), availability: t('reports.availability.current')
    .report-inputs
      = render 'reports_date_picker_form', start_date: @start_date, report_url: reports_securities_transactions_url, presets: @picker_presets, single_date_picker: true, max_date: @max_date
  - if @yesterdays_report && !@print_layout
    = link_to( t('reports.pages.securities_transactions.yesterdays_report'), @yesterdays_report, class: 'next-day-link' )
  .report-main-body
    -if @final
      .report-summary-data
        %h3= report_summary_with_date('reports.pages.securities_transactions.total_net_settled_final', fhlb_date_long_alpha(@start_date))
        %p= fhlb_formatted_currency(@total_net, force_unit: true)
      .report-summary-data
        %h3= report_summary_with_date('reports.pages.securities_transactions.total_credits_settled_final', fhlb_date_long_alpha(@start_date))
        %p= fhlb_formatted_currency(@total_credits, force_unit: true)
      .report-summary-data
        %h3= report_summary_with_date('reports.pages.securities_transactions.total_debits_settled_final', fhlb_date_long_alpha(@start_date))
        %p= fhlb_formatted_currency(@total_debits, force_unit: true)
      %h2.report-table-title= t('reports.pages.securities_transactions.final', date: fhlb_date_standard_numeric(@start_date))
    -else
      .report-summary-data
        %h3= report_summary_with_date('reports.pages.securities_transactions.total_net_settled_preliminary', fhlb_date_long_alpha(@start_date))
        %p= fhlb_formatted_currency_whole(@total_net, force_unit: true)
      .report-summary-data
        %h3= report_summary_with_date('reports.pages.securities_transactions.total_credits_settled_preliminary', fhlb_date_long_alpha(@start_date))
        %p= fhlb_formatted_currency(@total_credits, force_unit: true)
      .report-summary-data
        %h3= report_summary_with_date('reports.pages.securities_transactions.total_debits_settled_preliminary', fhlb_date_long_alpha(@start_date))
        %p= fhlb_formatted_currency(@total_debits, force_unit: true)
      %h2.report-table-title= t('reports.pages.securities_transactions.preliminary', date: fhlb_date_standard_numeric(@start_date))
    %small
      %p= t('reports.pages.securities_transactions.indicates_a_new_transaction_html')
    =render 'reports/reports_table', table_class: 'securities-transactions-table', table_data: @securities_transactions_table_data, sortable: false