- @html_class = 'white-background'
- @page_title = t('reports.meta_title')
.report.sta-statement.row
  .report-header
    %h1= t('reports.pages.settlement_transaction_account.title')
    .report-header-buttons
      %button.report-button-left= t('global.print')
      %span.report-split-button
        %button.report-button-right= t('dashboard.actions.download')
        %button.report-drop-down-right= t('dashboard.actions.xml')
    .report-inputs
      = form_tag(reports_settlement_transaction_account_url, method: 'GET') do
        = text_field_tag :start_date, @start_date, class: 'datepicker-input-field'
        = text_field_tag :end_date, @end_date, class: 'datepicker-input-field'
        .report-datepicker
          = render 'shared/date_picker', presets: @picker_presets, form: '.report-inputs form', single_date_picker: @single_date_picker
        .report-filter
          = render 'shared/dropdown', dropdown_name: 'sta_filter', default_value: @filter, default_text: @filter_text, dropdown_options: @filter_options
  .report-main-body
    .report-summary-data
      %h3
        = t('reports.pages.settlement_transaction_account.opening_balance_heading', date: @settlement_transaction_account[:start_date].strftime('%B %-d, %Y'))
      %p= number_to_currency(@settlement_transaction_account[:start_balance])
    .report-summary-data
      %h3
        = t('reports.pages.settlement_transaction_account.closing_balance_heading', date: @settlement_transaction_account[:end_date].strftime('%B %-d, %Y'))
      %p= number_to_currency(@settlement_transaction_account[:end_balance])
    %h2.report-table-title= t('reports.pages.settlement_transaction_account.table_title')
    %table.report-table{data: {sortable: false}}
      %thead
        %tr
          %th.report-cell-narrow= t("global.date")
          %th.report-cell-expanding= t("global.reference_number")
          %th.report-cell-expanding= t("global.description")
          %th= t("global.debits")
          %th= t("global.credits")
          %th= t('global.balance')
      %tbody
        - if @show_ending_balance
          %tr.ending-balance-row
            %td.report-cell-narrow= @settlement_transaction_account[:end_date].strftime('%m/%d/%Y')
            %td.report-cell-expanding
            %td.report-cell-expanding= t('reports.pages.settlement_transaction_account.closing_balance')
            %td.report-cell-right= '-'
            %td.report-cell-right= '-'
            %td.report-cell-right= number_to_currency(@settlement_transaction_account[:end_balance]) || '-'
        -@settlement_transaction_account[:activities].each do |row|
          %tr
            %td.report-cell-narrow= row[:trans_date].strftime('%m/%d/%Y')
            %td.report-cell-expanding= row[:refnumber]
            %td.report-cell-expanding= row[:descr] == @daily_balance_key ? t('reports.pages.settlement_transaction_account.closing_balance') : row[:descr]
            %td.report-cell-right= number_to_currency(row[:debit]) || '-'
            %td.report-cell-right= number_to_currency(row[:credit]) || '-'
            %td.report-cell-right= number_to_currency(row[:balance]) || '-'
        %tr.beginning-balance-row
          %td.report-cell-narrow= @settlement_transaction_account[:start_date].strftime('%m/%d/%Y')
          %td.report-cell-expanding
          %td.report-cell-expanding= t('global.beginning_balance')
          %td.report-cell-right= '-'
          %td.report-cell-right= '-'
          %td.report-cell-right= number_to_currency(@settlement_transaction_account[:start_balance]) || '-'
    %small= t('reports.change_notice')
