- active_nav = get_active_nav
.main-nav
  .row
    = link_to(t('welcome.logo'), dashboard_admin_path, class: 'logo')
    %ul
      %li= t('nav.primary.welcome', name: current_user.given_name || current_user.username)
      %li.header-member-name= link_to(t('global.member_portal'), dashboard_path)
      %li.nav-logout= link_to(t('nav.primary.logout'), destroy_user_session_path, method: :delete)
    %h1= t('admin.title')

.secondary-nav
  %nav.row
    %ul<>
      %li<>
        = link_to(t('admin.nav.secondary.users'), '#', class: 'nav-menu')
        .nav-dropdown
      %li<>
        = link_to(t('admin.nav.secondary.institutions'), '#', class: 'nav-menu')
        .nav-dropdown
      %li{class: ('active-nav-item' if active_nav == :rules)}<>
        = link_to(t('admin.nav.secondary.trade_rules'), '#', class: 'nav-menu')
        .nav-dropdown
          .nav-dropdown-row
            .nav-dropdown-column
              %h2= t('admin.nav.secondary.trade_rules')
              %ul
                %li= link_to(t('admin.advance_availability.title'), rules_advance_availability_path)
                %li= link_to(t('admin.term_rules.title'), rules_term_limits_path)
      %li<>
        = link_to(t('admin.nav.secondary.data_visibility'), '#', class: 'nav-menu')
        .nav-dropdown
      %li{class: ('active-nav-item' if active_nav == :features)}<>
        = link_to(t('admin.nav.secondary.features'), '#', class: 'nav-menu')
        .nav-dropdown
          .nav-dropdown-row
            .nav-dropdown-column
              %h2= t('admin.nav.secondary.features')
              %ul
                %li= link_to(t('admin.features.flipper.title'), flipper_features_admin_path)
                %li= link_to(t('admin.features.title'), features_admin_path)