- header_template ||= 'layouts/header'
- footer_template ||= 'layouts/footer'
- inline_styles ||= false
- skip_javascript ||= false
- css_manifest ||= 'application'
- js_manifest ||= 'application'
- internal_page ||= false
!!!
%html{class: @html_class, data: {authenticated_action: @authenticated_action, session_status_path: session_status_path}}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", :'http-equiv' => "X-UA-Compatible"}
    %title= @page_title || 'FHLB Member Portal'
    - if css_manifest
      - if !inline_styles
        = stylesheet_link_tag css_manifest, media: "all"
      - else
        %style
          - css_manifest_filename = (css_manifest.end_with?('.css') ? css_manifest : css_manifest + '.css' )
          != FhlbMember::Application.assets.find_asset(css_manifest_filename).source
    = javascript_include_tag js_manifest unless skip_javascript
    = csrf_meta_tags
  %body
    %header.page-header{class: "#{'internal-page-header' if internal_page}"}= render header_template
    %main
      = yield
    .flyout-row
      .column-1
        .flyout
          .flyout-top-section
            .flyout-close-button.icon-close-before
          .flyout-bottom-section
    .flyout-background
    %footer.page-footer= render footer_template
    = render 'layouts/tracking'