%span= t('global.copyright_html')
%span= t('global.copyright_date')
%span= t('global.fhlb_full')
%ul.footer-nav
  %li= link_to(t('global.contact'), '#')
  %li= link_to(t('global.terms_of_use'), terms_path)
  %li= link_to(t('global.privacy_policy'), '#')
  %li= link_to(t('global.truncated_web_address'), 'http://www.fhlbsf.com/')
