- active_nav = get_active_nav
.main-nav
  .row
    = link_to(t('welcome.logo'), dashboard_url, class: 'logo')
    %ul
      %li= t('nav.primary.welcome', name: current_user.given_name || current_user.username)
      - if current_user.ldap_domain == 'intranet'
        %li.header-member-name= current_member_name
        %li.nav-member-switch= link_to(t('nav.primary.switch'), members_switch_member_path, method: :post)
      %li.nav-logout= link_to(t('nav.primary.logout'), destroy_user_session_url, method: :delete)
      %li.nav-settings= link_to('', settings_password_path, class: 'icon-gear-after')
      - if feature_enabled?('announcements')
        %li.nav-mail
          = link_to(corporate_communications_path('all'), class: 'icon-announcements-after') do
            - if new_announcements_count > 0
              %p= new_announcements_count
.secondary-nav
  %nav.row
    %time{datetime:@render_time.iso8601}= fhlb_datetime_standard_numeric(@render_time)
    %ul<>
      %li{class: ('active-nav-item' if active_nav == :advances)}<>
        = link_to(t('nav.secondary.advances'), '#', class: 'nav-menu')
        .nav-dropdown
          .nav-dropdown-row
            .nav-dropdown-column
              %h2= t('nav.secondary.advances')
              %ul
                - if feature_enabled?('add-advance') && policy(:advance).show?
                  %li= link_to(t('advances.add_advance.nav'), advances_select_rate_path)
                %li= link_to(t('advances.manage_advances.title'), advances_manage_path)
      - if feature_enabled?('securities')
        %li{class: ('active-nav-item' if active_nav == :securities)}<>
          = link_to(t('securities.title'), manage_securities_path)
      %li{class: ('active-nav-item' if active_nav == :reports)}<>
        = link_to(t('reports.title'), reports_path, class: 'nav-menu')
        .nav-dropdown
          .nav-dropdown-row
            .nav-dropdown-column
              %h2= t('reports.your_account.title')
              %ul
                = header_report_nav_item(t('reports.account.account_summary.title'), reports_account_summary_path)
                = header_report_nav_item(t('reports.account.authorizations.title'), reports_authorizations_path, feature_enabled?('report-authorizations'))
                = header_report_nav_item(t('reports.account.settlement_transaction_account.title'), reports_settlement_transaction_account_path)
            .nav-dropdown-column
              %h2= t('reports.price_indications.title')
              %ul
                = header_report_nav_item(t('reports.price_indications.current.title'), reports_current_price_indications_path)
                = header_report_nav_item(t('reports.price_indications.historical.title'), reports_historical_price_indications_path)
            .nav-dropdown-column
              %h2= t('reports.collateral.title')
              %ul
                = header_report_nav_item(t('reports.collateral.borrowing_capacity.title'), reports_borrowing_capacity_path)
                = header_report_nav_item(t('reports.collateral.mcu.title'), reports_mortgage_collateral_update_path)
          .nav-dropdown-row
            .nav-dropdown-column
              %h2= t('reports.credit.title')
              %ul
                = header_report_nav_item(t('reports.credit.todays_credit.title'), reports_todays_credit_path)
                = header_report_nav_item(t('reports.credit.advances_detail.title'), reports_advances_path)
                = header_report_nav_item(t('reports.credit.interest_rate.title'), reports_interest_rate_resets_path)
                = header_report_nav_item(t('reports.credit.letters_of_credit.title'), reports_letters_of_credit_path)
                = header_report_nav_item(t('reports.credit.forward_commitments.title'), reports_forward_commitments_path)
                = header_report_nav_item(t('reports.credit.parallel_shift.title'), reports_parallel_shift_path)
            .nav-dropdown-column
              %h2= t('reports.capital_stock.title')
              %ul
                = header_report_nav_item(t('reports.capital_stock.activity.title'), reports_capital_stock_activity_path, feature_enabled?('report-capital-stock-activity-statement'))
                = header_report_nav_item(t('reports.capital_stock.trial_balance.title'), reports_capital_stock_trial_balance_path, feature_enabled?('report-capital-stock-trial-balance'))
                = header_report_nav_item(t('reports.capital_stock.capital_stock_and_leverage.title'), reports_capital_stock_and_leverage_path, feature_enabled?('report-capital-stock-position-and-leverage'))
                = header_report_nav_item(t('reports.capital_stock.dividend_statement.title'), reports_dividend_statement_path, feature_enabled?('report-dividened-transaction-statement'))
            .nav-dropdown-column
              %h2= t('reports.securities.title')
              %ul.nav-dropdown-nested
                = header_report_nav_item(t('reports.securities.transactions.title'), reports_securities_transactions_path, feature_enabled?('report-securities-transaction'))
                = header_report_nav_item(t('reports.securities.cash_projections.title'), reports_cash_projections_path, feature_enabled?('report-cash-projections'))
                = header_report_nav_item(t('reports.securities.current.title'), reports_current_securities_position_path, feature_enabled?('report-current-securities-positions'))
                = header_report_nav_item(t('reports.securities.monthly.title'), reports_monthly_securities_position_path, feature_enabled?('report-monthly-securities-positions'))
                = header_report_nav_item(t('reports.securities.services_monthly.title'), reports_securities_services_statement_path, feature_enabled?('report-securities-services-monthly-statement'))
          %p= t('reports.learn_more_html', url: reports_path)
      %li{class: ('active-nav-item' if active_nav == :resources)}<>
        = link_to(t('nav.secondary.resources'), '#', class: 'nav-menu')
        .nav-dropdown
          .nav-dropdown-row
            .nav-dropdown-column
              %h2= t('nav.secondary.resources')
              %ul
                %li= link_to(t('resources.guides.title'), guides_path)
                %li= link_to(t('resources.fee_schedules.title'), fee_schedules_path)
                %li= link_to(t('resources.capital_plan.title'), capital_plan_path)
                %li= link_to(t('resources.investor_relations.title'), 'http://www.fhlbsf.com/about/investor/default.aspx')
                %li= link_to(t('resources.newsroom.title'), 'http://www.fhlbsf.com/about/news/releases/default.aspx')
                %li= link_to(t('resources.regulatory_updates.title'), 'http://www.fhlbsf.com/resource-center/regulatory/default.aspx')
                %li= link_to(t('resources.business_continuity.name'), business_continuity_path)
            .nav-dropdown-column
              %h2= t('resources.forms.title')
              %ul
                %li= link_to(t('resources.forms.agreements.title'), forms_path(anchor: :agreements))
                %li= link_to(t('resources.forms.authorizations.title'), forms_path(anchor: :authorizations))
                %li= link_to(t('resources.forms.credit.title'), forms_path(anchor: :credit))
                %li= link_to(t('resources.forms.collateral.title'), forms_path(anchor: :collateral))
            .nav-dropdown-column
              %h2= t('resources.membership.title')
              %ul
                %li= link_to(t('resources.membership.title'), membership_overview_path)
                %li= link_to(t('resources.membership.applications.nav_title'), membership_application_path)
      %li.products-dropdown{class: ('active-nav-item' if active_nav == :products)}<>
        = link_to(t('nav.secondary.products'), '#', class: 'nav-menu')
        .nav-dropdown
          .nav-dropdown-row
            .nav-dropdown-column
              %h2= t('nav.secondary.products')
              %ul
                %li<>= link_to(t('products.products_summary.nav_title'), product_summary_path)
                %li= link_to(t('products.standby_loc.title'), 'http://fhlbsf.com/community/credit/lc-profile.aspx')
                %li= link_to(t('products.community_programs.title'), 'http://fhlbsf.com/community/default.aspx')
                %li= link_to(t('products.mpf_program.title'), mpf_path)
            .nav-dropdown-column
              %h2= t('products.advances.title')
              %ul
                %li= link_to(t('products.advances.frc.title'), frc_path)
                %li= link_to(t('products.advances.frc_embedded.title'), frc_embedded_path)
                %li= link_to(t('products.advances.amortizing.title'), amortizing_path)
                %li= link_to(t('products.advances.callable.title'), callable_path)
                %li= link_to(t('products.advances.putable.title'), putable_path)
                %li= link_to(t('products.advances.knockout.title'), knockout_path)
                %li= link_to(t('products.advances.vrc.title'), vrc_path)
                %li= link_to(t('products.advances.ocn.title'), ocn_path)
            .nav-dropdown-column
              %ul
                %li= link_to(t('products.advances.arc.title'), arc_path)
                %li= link_to(t('products.advances.arc_embedded.title'), arc_embedded_path)
                %li= link_to(t('products.advances.choice_libor.title'), choice_libor_path)
                %li= link_to(t('products.advances.sbc.title'), sbc_path)
                %li= link_to(t('products.advances.ace'), 'http://fhlbsf.com/community/credit/ace-profile.aspx')
                %li= link_to(t('products.advances.cip'), 'http://www.fhlbsf.com/community/credit/cip-profile.aspx')