.main-nav
  .row
    = link_to(t('welcome.logo'), dashboard_url, class: 'logo')
    %ul
      %li= t('nav.primary.welcome', name: 'Alma')
      %li.nav-logout= link_to(t('nav.primary.logout'), root_url)
      %li.nav-settings= link_to('', '/settings', class: 'icon-gear-after')
      %li.nav-mail= link_to('', '#', class: 'icon-envelope-after')
      %li
        = render 'shared/input_field', icon: :magnify, placeholder: t('nav.primary.search'), field_class: :'nav-search'
.secondary-nav
  %nav.row
    %ul
      %li= link_to(t('nav.secondary.advances'), '#', class: 'nav-menu')
      %li= link_to(t('nav.secondary.letters_of_credit'), '#', class: 'nav-menu')
      %li= link_to(t('nav.secondary.mortgages'), '#', class: 'nav-menu')
      %li= link_to(t('nav.secondary.securities'), '#', class: 'nav-menu')
      %li= link_to(t('nav.secondary.reports'), '/reports')