%small= t('global.last_updated', date: fhlb_date_long_alpha(Date.new(2015, 10, 15)))
%p= t('terms.intro.definition')
%p= t('terms.intro.security')
%h3= t('terms.false_information.title')
%p= t('terms.false_information.description')
%h3= t('terms.privacy.title')
%p= t('terms.privacy.description_html', url:'privacy_policy_path')
%h3= t('terms.disclaimers.title')
.legal
  %p= t('terms.disclaimers.sources')
  %p= t('terms.disclaimers.warranty')
  %p= t('terms.disclaimers.responsibility')
%h3= t('terms.ownership.title')
%p= t('terms.ownership.description')
%h3= t('terms.liability.title')
.legal
  %p= t('terms.liability.liability')
%h3= t('terms.indemnity.title')
%p= t('terms.indemnity.description')
%h3= t('terms.links.title')
%p= t('terms.links.description')
%h3= t('terms.termination_of_access.title')
%p= t('terms.termination_of_access.take_effect')
%p= t('terms.termination_of_access.member_agreements')
%h3= t('terms.securities_transactions.title')
%p= t('terms.securities_transactions.sale')
%p= t('terms.securities_transactions.obligations')
%p= t('terms.securities_transactions.information')
%h3= t('terms.advance_transactions.title')
%p= t('terms.advance_transactions.members_only')
%p= t('terms.advance_transactions.liability')
%p= t('terms.advance_transactions.indemnity')
%p= t('terms.advance_transactions.authorization')
%p= t('terms.advance_transactions.questions_html', email: web_support_email, phone: web_support_phone_number)
%p= t('terms.advance_transactions.obligations')
%p= t('terms.advance_transactions.consultations')
%p= t('terms.advance_transactions.agreements')
%h3= t('terms.governing_law.title')
%p= t('terms.governing_law.description')
%h3= t('terms.infringement.title')
%p= t('terms.infringement.description_html', email: web_support_email, phone: web_support_phone_number)