- @html_class = 'white-background'
.row.privacy-policy-page
  .column-2x10-right
    %h1= t('global.privacy_policy')
    %h2= t('privacy_policy.please_read')
    This Privacy Policy ("Privacy Policy" or "Policy") explains how Federal Home Loan Bank of San Francisco (the "Bank" or "us" or "we") may collect information from the user ("you") of the Bank's website ("Website") and the member of the Bank or other entity with permission to access this Website ("Member") you represent. "You" also refers to the member on whose behalf you access this Website, "Member" also means you, and this Privacy Policy also binds that Member. This Privacy Policy does not apply to information we may receive through the mail, by email, by fax or telephone, or in person or in any other way.
    %br/
    %br/
    From time to time, we may change this Privacy Policy. The effective date of this Policy, as stated below, indicates the last time this Policy was revised or updated. Checking the effective date below allows you to determine whether there have been changes since the last time you reviewed this Policy. The effective date of this Privacy Policy is September 6, 2012. We reserve the right to change this Privacy Policy at any time. We may inform you of changes to this Privacy Policy, however, regardless of whether such notice is provided, you must review this Privacy Policy each time you use this Website and you agree to be bound by any changes to this Privacy Policy when you use this Website after any such modification or change is posted. You can ask us to change the data about you that we keep by contacting 
    %a{:href => "mailto:websupport@fhlbsf.com", :title => "Web Support"}> Web Support
     at (415) 616-2610. Unless otherwise noted, we keep data indefinitely.
    %br/
    %br/
    = succeed "We" do
      %b
        Use of Cookies
        %br/
        %br/
    collect and store information about your visit to this Website. To collect some of this information, our web server places a "cookie," which is a small file, on your computer. Accepting the cookies used by this Website does not give us access to your personal information. We may use cookies to enhance your online experience, to facilitate your use of this Website, and to collect aggregated site-visitation statistics that we can use to measure the effectiveness of this Website and to improve our products and services. You may not be able to access portions of this Website at all if you disable cookies on your browser. Some cookies remain on your computer between visits, while others are transient and are erased after you complete your internet session.
    %br/
    %br/
    = succeed "The" do
      %b
        Third Party Vendors
        %br/
        %br/
    Bank may use third party vendors in connection with operating this Website and those parties may use cookies, collect, use and store information that the Bank might collect, in accordance with their respective privacy policies and not this Privacy Policy. We recommend that you review the privacy policies of third party vendors who may collect your information. Currently, the Bank is using Google Analytics and Eventbrite as third party vendors. 
    %br/
     
    %br/
    %strong Information That is Shared
    %br/
     
    %br/
    We do not share personal information with companies, organizations and individuals outside of the Bank unless one of the following circumstances apply:
    %br/
    %ul
      %li With your consent: We will share personal information with companies, organizations or individuals outside of the Bank when we have your consent to do so.
      %li For external processing: We may engage a third party vendor to collect personal information and to process it for us based on their privacy policies.
      %li For legal reasons: We may share personal information with companies, organizations or individuals outside of the Bank if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
    = succeed "We" do
      %div{:style => "MARGIN-LEFT: 2em", :type => "disc"}
        %ul{:type => "circle"}
          %li meet any applicable law, regulation, legal process or enforceable governmental request.
          %li enforce applicable Terms of Service, including investigation of potential violations.
          %li detect, prevent, or otherwise address fraud, security or technical issues.
          %li protect against harm to the rights, property or safety of the Bank, our users or the public as required or permitted by law.
    may share non-personally identifiable aggregated site visitation statistics referenced above.
    %br/
    %br/
    %b Additional Information Collected, Used and Stored
    %br/
    %ul{:type => "disc"}
      %li We collect site usage information such as your IP address, the domain name of the ISP, the address of the internet site you were visiting before you entered this Website (if you come from a referring site), the browser, browser language, screen resolution and operating system you are using, pages accessed on the Bank’s website, date and time of visit, time spent on a page, and other similar information. This is used to produce Website usage reports. It is possible to correlate this data with specific users who log in to this Website.  
      %li The Bank may store any and all site usage information collected from you. The Bank does not store the data in an encrypted format.
      %li We retain your username and encrypt your password when you log in to the member website.
      %li
        We use return email addresses to answer the email we receive. If applicable, we also use email address, name, title, organization and type, address, phone and fax numbers to communicate with you about your online registrations and subscriptions. This information is not shared with any other parties except as stated below. These emails are
        %b not
        encrypted.
      %li Usage logs and reports may be analyzed and reviewed by third parties who have written confidentiality obligations. These logs and reports are not sold to third parties.
      %li If you submit information to us online, or execute an online transaction, the Bank may store the information you send in an electronic database.
      %li For the purposes of updating our mailing list information, we collect data on individuals such as name, title, institution name, institution address, phone, fax, and email address. We retain that information until you provide new information.
      %li For the purpose of registering for events, we may ask for all of the information above, plus a credit card number. When you submit credit card information, you are in fact directed to one of our contractors, currently PayPal, and all of your credit card related data is provided directly to that contractor, and not to the Bank. This data is transmitted to the contractor via a secure connection. Any transfer of your information from this Website to a third party website will subject your information to the privacy policies and terms of use of such third party websites.
      %li From time to time, we may ask users of this Website to respond to online surveys. We may ask for the user's name, title, institution or company name, and/or institution or company type. Information from these surveys is aggregated and retained to report on perceptions of types of users of this Website.
    
    %b Information Security
    %br/
    %br/
    All communications sent to or from this Website after member log-in occur over a secure socket layer (SSL) encryption designed to protect such communications. However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered or destroyed by breach of such encryption.
    %br/
    %br/
    There are some things that you can do to help protect the security of your information as well. Never give out your password, since this is what is used to access all of your account information on this Website. Remember to log off from this Website and close your browser window when you finish your session, so that other people using the same computer won't have access to your information.
    %br/
    %br/
    You must immediately inform us by contacting 
    %a{:href => "mailto:websupport@fhlbsf.com", :title => "Web Support"}> Web Support
     at (415) 616-2610 if you have any reason to believe that your password has been stolen or used, or is in the possession of an unauthorized individual or is otherwise compromised.
    %br/
    %br/
    It is not our policy to share information we receive from you over this Website other than with regulators or certain companies that assist the Bank in conducting its business transactions. Certain non-personal information collected pursuant to survey requests may be aggregated and shared with members of the Bank. Certain employees of the Bank have access to member information to enable them to respond to member inquiries and concerns. All Bank employees are subject to the terms of a confidentiality agreement. Any vendors or consultants who have access to confidential information are required by contract to keep the information confidential.
    %br/
    %br/
    = succeed "Except" do
      %b
        Disclosure of Collected Information
        %br/
        %br/
    as otherwise described in this Privacy Policy, the Bank will not disclose personal information to any third party unless we believe that disclosure is necessary: (1) to conform to legal requirements or to respond to a subpoena, search warrant or other legal process received by the Bank, whether or not a response is required by applicable law; (2) to enforce the Bank's Terms of Use Agreement or to protect our rights; or (3) to protect the members of the public and users of the service.
    %br/
    %br/
    = succeed "This" do
      %b
        Third-Party Websites
        %br/
        %br/
    Website contains links to other websites. We are not responsible for the privacy practices or content of other websites. When you leave this Website, please read the privacy statements of each website that collects personally identifiable information. This Privacy Policy applies solely to information collected by this Website.
    %br/
    %br/
    = succeed "If" do
      %b
        Contact Information
        %br/
        %br/
    you have any questions about this Privacy Policy, please contact 
    %a{:href => "mailto:websupport@fhlbsf.com", :title => "Web Support"}> Web Support
     at (415) 616-2610.
    %br/
