- @html_class = 'white-background'
.row.privacy-policy-page
  .column-2x10-right
    %h1= t('global.privacy_policy')
    %small= t('global.last_updated', date: fhlb_date_long_alpha(Date.new(2015, 10, 15)))
    %h2= t('privacy_policy.please_read')
    %p= t('privacy_policy.introduction')
    %p= t('privacy_policy.applicable')
    %p= t('privacy_policy.additional_information_html', terms_url: terms_of_use_path, online_security_url: online_security_path)
    %h2= t('privacy_policy.information_collected.title')
    %p= t('privacy_policy.information_collected.introduction')
    %p= t('privacy_policy.information_collected.store')
    %p= t('privacy_policy.information_collected.usage')
    %p= t('privacy_policy.information_collected.accurate')
    %p= t('privacy_policy.information_collected.events')
    %p= t('privacy_policy.information_collected.survey')
    %h2= t('privacy_policy.information_shared.title')
    %p= t('privacy_policy.information_shared.share')
    %ul
      %li= t('privacy_policy.information_shared.consent')
      %li= t('privacy_policy.information_shared.third_party')
      %li= t('privacy_policy.information_shared.identifiable')
      %br/
      %ul
        %li= t('privacy_policy.information_shared.meet_law')
        %li= t('privacy_policy.information_shared.enforce')
        %li= t('privacy_policy.information_shared.issues')
        %li= t('privacy_policy.information_shared.protect')
    %p= t('privacy_policy.information_shared.information')
    %h2= t('privacy_policy.cookies.title')
    %p= t('privacy_policy.cookies.collect')
    %p= t('privacy_policy.cookies.refuse')
    %h2= t('privacy_policy.third_party.title')
    %p= t('privacy_policy.third_party.vendors')
    %h2= t('privacy_policy.information_security.title')
    %p= t('privacy_policy.information_security.ssl')
    %h2= t('privacy_policy.disclosure.title')
    %p= t('privacy_policy.disclosure.disclose')
    %h2= t('privacy_policy.websites.title')
    %p= t('privacy_policy.websites.other_websites')
    %h2= t('privacy_policy.social_media.title')
    %p= t('privacy_policy.social_media.platforms')
    %h2= t('privacy_policy.children.title')
    %p= t('privacy_policy.children.minors_html', url: 'https://www.ftc.gov/tips-advice/business-center/privacy-and-security/children%27s-privacy')
    %h2= t('privacy_policy.copyright.title')
    %p= t('privacy_policy.copyright.content')
    %h2= t('privacy_policy.governing.title')
    %p= t('privacy_policy.governing.use')
    %h2= t('privacy_policy.contact.title')
    %p= t('privacy_policy.contact.details_html', url: web_support_email, phone_number: web_support_phone_number)
