= render layout: 'devise/sessions/welcome' do
  = form_tag members_set_member_path, method: :post do
    %fieldset
      %legend= t('welcome.choose_member')
    = select_tag(:member_id, options_for_select(@members.unshift([t('welcome.select_bank'), t('welcome.select_bank')]), {selected: t('welcome.select_bank'), disabled: t('welcome.select_bank')} ))
    = link_to(t('nav.primary.logout'), destroy_user_session_url, method: :delete, class: 'secondary-button logout-link')
    = submit_tag t('global.continue'), class: 'primary-button', disabled: true
    - if feature_enabled?('report-profile') && policy(:member_profile).show?
      = button_tag(t('welcome.view_profile'), class: 'secondary-button welcome-profile', disabled: true)
      = hidden_field_tag(:visit_profile, true, disabled: true)
