= render layout: 'devise/sessions/welcome' do
  = form_tag members_set_member_path, method: :post do
    %fieldset
      %legend= t('welcome.choose_member')
    = select_tag(:member_id, options_for_select(@members.push([t('welcome.select_bank'), t('welcome.select_bank')]), {selected: t('welcome.select_bank'), disabled: t('welcome.select_bank')} ))
    = link_to(t('nav.primary.logout'), destroy_user_session_url, method: :delete, class: 'secondary-button logout-link')
    = submit_tag t('global.continue'), class: 'primary-button', disabled: true
