- @page_title = t('welcome.meta_title')
%section.welcome
  .row
    .column-4x8-left
      &nbsp;
      .logo-container
        .logo= t('welcome.logo')
    .column-4x8-right
      %h1= t('welcome.title')
  .row
    .column-4x8-left
    .column-4x8-right
      %p= t('welcome.intro_html', url: web_support_email, phone_number: web_support_phone_number)
  .row.terms-row
    .column-1
      = form_tag accept_terms_path, method: :post do
        %section
          %h1= t('terms.title')
        %section
          = render 'terms'
        %section
          = submit_tag t('terms.agree'), class: 'primary-button'
