- @html_class = 'white-background'
.row.terms-of-use-page
  .column-2x10-right
    %h1= t('terms.title')
    %p= t('terms.intro.definition')
    %p= t('terms.intro.agree')
    %p= t('terms.intro.right')
    %p= t('terms.intro.alert')
    %h2= t('terms.access.title')
    %ul
      %li= t('terms.access.website')
      %li= t('terms.access.agreement')
      %li= t('terms.access.login')
      %li= t('terms.access.data')
      %li= t('terms.access.authorized')
      %li= t('terms.access.violation')
      %li= t('terms.access.member')
    %h2= t('terms.false_information.title')
    %p= t('terms.false_information.description')
    %h2= t('terms.privacy.title')
    %p= t('terms.privacy.description_html', url:'#')
    %h2= t('terms.disclaimers.title')
    %p= t('terms.disclaimers.sources')
    %p= t('terms.disclaimers.warranty')
    %p= t('terms.disclaimers.download')
    %p= t('terms.disclaimers.responsibility')
    %p= t('terms.disclaimers.risk')
    %h2= t('terms.ownership.title')
    %p= t('terms.ownership.description')
    %h2= t('terms.liability.title')
    %p= t('terms.liability.liability')
    %p= t('terms.liability.damages')
    %h2= t('terms.indemnity.title')
    %p= t('terms.indemnity.description')
    %h2= t('terms.links.title')
    %p= t('terms.links.description')
    %h2= t('terms.modifications.title')
    %p= t('terms.modifications.description')
    %h2= t('terms.governing_law.title')
    %p= t('terms.governing_law.description')
    %h2= t('terms.termination_of_access.title')
    %p= t('terms.termination_of_access.take_effect_html', email: 'mailto:websupport@fhlbsf.com', phone: fhlb_formatted_phone_number('4156162610'))
    %p= t('terms.termination_of_access.member_agreements')
    %h2= t('terms.infringement.title')
    %p= t('terms.infringement.description_html', email: 'mailto:websupport@fhlbsf.com', phone: fhlb_formatted_phone_number('4156162610'))
    %h2= t('terms.securities_transactions.title')
    %p= t('terms.securities_transactions.sale')
    %p= t('terms.securities_transactions.obligations')
    %p= t('terms.securities_transactions.information')
    %h2= t('terms.advance_transactions.title')
    %p= t('terms.advance_transactions.members_only')
    %p= t('terms.advance_transactions.extend_credit')
    %p= t('terms.advance_transactions.act_upon_html', url:'http://www.fhlbsf.com/security.aspx')
    %p= t('terms.advance_transactions.liability')
    %p= t('terms.advance_transactions.indemnity')
    %p= t('terms.advance_transactions.authorization')
    %p= t('terms.advance_transactions.questions_html', email: 'mailto:websupport@fhlbsf.com', phone: fhlb_formatted_phone_number('4156162610'))
    %p= t('terms.advance_transactions.obligations')
    %p= t('terms.advance_transactions.consultations')
    %h2= t('terms.other_agreements.title')
    %p= t('terms.other_agreements.description')
    %h2= t('terms.waiver.title')
    %p= t('terms.waiver.description')
    %h2= t('terms.limitations.title')
    %p= t('terms.limitations.description')
    %h2= t('terms.beneficiaries.title')
    %p= t('terms.beneficiaries.no_third_party')
    %p= t('terms.beneficiaries.no_transfer')
